Repository stackabletech/airflow-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

.pre-commit-config.yaml:

---
exclude: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0 # 6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/EmbarkStudios/cargo-deny
    # Failing to compile cargo-deny with version >0.18.3, needs rust 1.88.0
    rev: 0.18.6 # 0.18.3
    hooks:
      - id: cargo-deny
        args: ["--all-features", "check", "advisories", "bans", "licenses", "sources"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1 # 1.37.1
    hooks:
      - id: yamllint
        args: ["--strict"]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0 # 0.45.0
    hooks:
      - id: markdownlint
        types: [text]
        files: \.md(\.j2)*$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0 # 0.11.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]

  # WARNING (@NickLarsenNZ): Nix users need to install ruff first.
  # If you do not, you will need to delete the cached ruff binary shown in the
  # error message
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7 # 0.14.1
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9 # 1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0 # 2.14.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: regenerate-charts
        name: regenerate-charts
        language: system
        entry: make regenerate-charts
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: regenerate-nix
        name: regenerate-nix
        language: system
        entry: make regenerate-nix
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: Cargo\.lock

      - id: check-readme
        name: check-readme
        language: system
        entry: make render-readme
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: .readme

      - id: cargo-doc
        name: cargo-doc
        language: system
        entry: cargo doc --document-private-items
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-test
        name: cargo-test
        language: system
        entry: cargo test
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        entry: cargo +nightly-2025-10-23 fmt --all -- --check
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        entry: cargo clippy --all-targets -- -D warnings
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@2780a5ae4854dd10734a72fb1c6a3822798c9607
  deploy/helm/artifacthub-repo.yml
  nix/meta.json
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@2780a5ae4854dd10734a72fb1c6a3822798c9607 (#846)
  deploy/helm/artifacthub-repo.yml
  nix/meta.json
Due: none

update changelog
  CHANGELOG.md
Due: none

consoldiate imports and disambiguate contant name
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/resource/pod.rs
  rust/operator-binary/src/controller/build/volumes.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/update_status.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/main.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fixed stale comment
  rust/operator-binary/src/controller/build/resource/statefulset.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

executor-related contants
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

remove AIRFLOW_WEBSERVER_SECRET_KEY as 3.0.1 no longer supported
  rust/operator-binary/src/controller/build/properties/env_vars.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

corrected changelog
  CHANGELOG.md
Due: none

chore: Upgrade to stackable-operator 0.116.0 (#838)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/Cargo.toml
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/apply.rs
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/properties/env_vars.rs
  rust/operator-binary/src/controller/build/resource/config_map.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/listener.rs
  rust/operator-binary/src/controller/build/resource/pdb.rs
  rust/operator-binary/src/controller/build/resource/pod.rs
  rust/operator-binary/src/controller/build/resource/rbac.rs
  rust/operator-binary/src/controller/build/resource/service.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/build/volumes.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/update_status.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/crd/internal_secret.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/util.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@86d5117ce9bab934886a413519682412ae90f92e
  .github/workflows/build.yaml
  .github/workflows/integration-test-profile.yaml
  deploy/helm/airflow-operator/templates/_helpers.tpl
  deploy/helm/airflow-operator/templates/deployment.yaml
  deploy/helm/airflow-operator/templates/serviceaccount.yaml
  deploy/helm/artifacthub-repo.yaml
  scripts/run-tests
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@86d5117ce9bab934886a413519682412ae90f92e (#848)
  .github/workflows/build.yaml
  .github/workflows/integration-test-profile.yaml
  deploy/helm/airflow-operator/templates/_helpers.tpl
  deploy/helm/airflow-operator/templates/deployment.yaml
  deploy/helm/airflow-operator/templates/serviceaccount.yaml
  deploy/helm/artifacthub-repo.yaml
  scripts/run-tests
Due: none

chore: reproduce that killed scheduler does not terminate the pod
  tests/templates/kuttl/cluster-operation/11-assert.yaml
  tests/templates/kuttl/cluster-operation/11-kill-scheduler.yaml
Due: none

fix: scheduler container supervises scheduler instead of dag-processor
  CHANGELOG.md
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: cleanups
  rust/operator-binary/src/crd/mod.rs
  tests/templates/kuttl/cluster-operation/11-assert.yaml
  tests/templates/kuttl/cluster-operation/11-kill-scheduler.yaml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: move health check logic into commons and apply to tests
  tests/templates/kuttl/ca-cert/50-assert.yaml.j2
  tests/templates/kuttl/cluster-operation/11-assert.yaml
  tests/templates/kuttl/cluster-operation/11-assert.yaml.j2
  tests/templates/kuttl/cluster-operation/11-kill-scheduler.yaml.j2
  tests/templates/kuttl/commons/health.py
  tests/templates/kuttl/ldap/80-assert.yaml.j2
  tests/templates/kuttl/logging/51-assert.yaml.j2
  tests/templates/kuttl/mount-dags-configmap/50-assert.yaml.j2
  tests/templates/kuttl/mount-dags-gitsync/50-assert.yaml.j2
  tests/templates/kuttl/remote-logging/60-assert.yaml.j2
  tests/templates/kuttl/smoke/60-assert.yaml.j2
  tests/templates/kuttl/triggerer/50-assert.yaml.j2
  tests/templates/kuttl/versioning/50-assert.yaml.j2
Due: none

docs: add recommendation to configure dag processor explicitly
  docs/modules/airflow/pages/getting_started/first_steps.adoc
Due: none

fix: scheduler container supervises scheduler instead of dag-processor (#847)
  CHANGELOG.md
  docs/modules/airflow/pages/getting_started/first_steps.adoc
  rust/operator-binary/src/crd/mod.rs
  tests/templates/kuttl/ca-cert/50-assert.yaml.j2
  tests/templates/kuttl/cluster-operation/11-assert.yaml.j2
  tests/templates/kuttl/cluster-operation/11-kill-scheduler.yaml.j2
  tests/templates/kuttl/commons/health.py
  tests/templates/kuttl/ldap/80-assert.yaml.j2
  tests/templates/kuttl/logging/51-assert.yaml.j2
  tests/templates/kuttl/mount-dags-configmap/50-assert.yaml.j2
  tests/templates/kuttl/mount-dags-gitsync/50-assert.yaml.j2
  tests/templates/kuttl/remote-logging/60-assert.yaml.j2
  tests/templates/kuttl/smoke/60-assert.yaml.j2
  tests/templates/kuttl/triggerer/50-assert.yaml.j2
  tests/templates/kuttl/versioning/50-assert.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

add early exist, missing owns and unit tests
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/airflow-operator/templates/clusterrole-operator.yaml
  rust/operator-binary/Cargo.toml
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/main.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

added step to cluster ops test
  tests/templates/kuttl/cluster-operation/40-assert.yaml
  tests/templates/kuttl/cluster-operation/40-delete-owned-resources.yaml
Due: none

changelog
  CHANGELOG.md
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@b93b54b0c3ca1c7e0c26ef350b759e743d473abf
  .github/workflows/build.yaml
  .github/workflows/pr_prek.yaml
  .pre-commit-config.yaml
  .vscode/settings.json
  rust-toolchain.toml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@b93b54b0c3ca1c7e0c26ef350b759e743d473abf (#850)
  .github/workflows/build.yaml
  .github/workflows/pr_prek.yaml
  .pre-commit-config.yaml
  .vscode/settings.json
  rust-toolchain.toml
Due: none

improve tests, consolidate rbac sections
  Cargo.lock
  Cargo.nix
  Cargo.toml
  rust/operator-binary/Cargo.toml
  rust/operator-binary/src/airflow_controller.rs
  tests/templates/kuttl/cluster-operation/40-delete-owned-resources.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

use DeserializeGuard consistently
  rust/operator-binary/src/main.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Update dependencies a RustSec advisory affects
  Cargo.lock
  Cargo.nix
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

fix: Add missing owns/watches and test early-exit reconcile (#849)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  deploy/helm/airflow-operator/templates/clusterrole-operator.yaml
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/main.rs
  tests/templates/kuttl/cluster-operation/40-assert.yaml
  tests/templates/kuttl/cluster-operation/40-delete-owned-resources.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

use expect where possible and remove unecessary enums/Results
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/properties/env_vars.rs
  rust/operator-binary/src/controller/build/resource/config_map.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/pod.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/crd/authentication.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

removed test not affected by this PR
  rust/operator-binary/src/controller/build/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@2b1e0d7b812a35b8ad779e7178a083d45700e1ab
  .github/workflows/build.yaml
  .github/workflows/integration-test-custom.yaml
  .github/workflows/integration-test-profile.yaml
  .github/workflows/pr_prek.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@2b1e0d7b812a35b8ad779e7178a083d45700e1ab (#853)
  .github/workflows/build.yaml
  .github/workflows/integration-test-custom.yaml
  .github/workflows/integration-test-profile.yaml
  .github/workflows/pr_prek.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@bcf54b79d402c34fb2648140300f8bf0113ebddb
  .github/workflows/integration-test-profile.yaml
  deploy/helm/airflow-operator/templates/_helpers.tpl
  deploy/helm/airflow-operator/templates/_maintenance.tpl
  deploy/helm/airflow-operator/templates/_telemetry.tpl
  deploy/helm/airflow-operator/templates/deployment.yaml
  deploy/helm/airflow-operator/templates/service.yaml
  deploy/helm/airflow-operator/templates/serviceaccount.yaml
Due: none

chore: Namespace the calls to the Helm defined templates
  deploy/helm/airflow-operator/templates/clusterrole-operator.yaml
  deploy/helm/airflow-operator/templates/clusterrole-product.yaml
Due: none

chore: Update templated files (bcf54b7) (#854)
  .github/workflows/integration-test-profile.yaml
  deploy/helm/airflow-operator/templates/_helpers.tpl
  deploy/helm/airflow-operator/templates/_maintenance.tpl
  deploy/helm/airflow-operator/templates/_telemetry.tpl
  deploy/helm/airflow-operator/templates/clusterrole-operator.yaml
  deploy/helm/airflow-operator/templates/clusterrole-product.yaml
  deploy/helm/airflow-operator/templates/deployment.yaml
  deploy/helm/airflow-operator/templates/service.yaml
  deploy/helm/airflow-operator/templates/serviceaccount.yaml
Due: none

add missing deref tests
  rust/operator-binary/src/controller/build/volumes.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

correct order of adding volumes and mounts
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Consolidate error enums and use expect where possible (#852)
  CHANGELOG.md
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/properties/env_vars.rs
  rust/operator-binary/src/controller/build/resource/config_map.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/pod.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/build/volumes.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/crd/authentication.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@46be1415b2be5de576ec4ddef92b7a864af547b6
  .dockerignore
  .envrc.sample
  .gitattributes
  .github/ISSUE_TEMPLATE/01-normal-issue.md
  .github/ISSUE_TEMPLATE/02-bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE/pre-release-getting-started-script.md
  .github/PULL_REQUEST_TEMPLATE/pre-release-rust-deps.md
  .github/actionlint.yaml
  .github/pull_request_template.md
  .github/workflows/integration-test-custom.yaml
  .github/workflows/integration-test-profile.yaml
  .github/workflows/pr_prek.yaml
  .gitignore
  .hadolint.yaml
  .markdownlint.yaml
  .pre-commit-config.yaml
  .pylintrc
  .vscode/DO_NOT_EDIT.md
  .yamllint.yaml
  Tiltfile
  deny.toml
  deploy/helm/airflow-operator/templates/NOTES.txt
  nix/sources.nix
  rust-toolchain.toml
  rustfmt.toml
  scripts/auto-retry-tests.py
  scripts/docs_templating.sh
  scripts/ensure_one_trailing_newline.py
  scripts/render_readme.sh
  scripts/run-tests
  scripts/run_tests.sh
  shell.nix
  tests/README-templating.md
  tests/kuttl-test.yaml.jinja2
  tests/templates/.gitkeep
Due: check-readme

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@46be1415b2be5de576ec4ddef92b7a864af547b6 (#856)
  .dockerignore
  .envrc.sample
  .gitattributes
  .github/ISSUE_TEMPLATE/01-normal-issue.md
  .github/ISSUE_TEMPLATE/02-bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE/pre-release-getting-started-script.md
  .github/PULL_REQUEST_TEMPLATE/pre-release-rust-deps.md
  .github/actionlint.yaml
  .github/pull_request_template.md
  .github/workflows/integration-test-custom.yaml
  .github/workflows/integration-test-profile.yaml
  .github/workflows/pr_prek.yaml
  .gitignore
  .hadolint.yaml
  .markdownlint.yaml
  .pre-commit-config.yaml
  .pylintrc
  .vscode/DO_NOT_EDIT.md
  .yamllint.yaml
  Tiltfile
  deny.toml
  deploy/helm/airflow-operator/templates/NOTES.txt
  nix/sources.nix
  rust-toolchain.toml
  rustfmt.toml
  scripts/auto-retry-tests.py
  scripts/docs_templating.sh
  scripts/ensure_one_trailing_newline.py
  scripts/render_readme.sh
  scripts/run-tests
  scripts/run_tests.sh
  shell.nix
  tests/README-templating.md
  tests/kuttl-test.yaml.jinja2
  tests/templates/.gitkeep
Due: check-readme

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@ca104d68c598a6c38535f154fc74126342825fc4
  .pre-commit-config.yaml
  scripts/check_namespaced_defines.py
Due: none
