Repository stackabletech/airflow-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

.pre-commit-config.yaml:

---
exclude: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0 # 6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/EmbarkStudios/cargo-deny
    # Failing to compile cargo-deny with version >0.18.3, needs rust 1.88.0
    rev: 0.18.6 # 0.18.3
    hooks:
      - id: cargo-deny
        args: ["--all-features", "check", "advisories", "bans", "licenses", "sources"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1 # 1.37.1
    hooks:
      - id: yamllint
        args: ["--strict"]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0 # 0.45.0
    hooks:
      - id: markdownlint
        types: [text]
        files: \.md(\.j2)*$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0 # 0.11.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]

  # WARNING (@NickLarsenNZ): Nix users need to install ruff first.
  # If you do not, you will need to delete the cached ruff binary shown in the
  # error message
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7 # 0.14.1
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9 # 1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0 # 2.14.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: regenerate-charts
        name: regenerate-charts
        language: system
        entry: make regenerate-charts
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: regenerate-nix
        name: regenerate-nix
        language: system
        entry: make regenerate-nix
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: Cargo\.lock

      - id: check-readme
        name: check-readme
        language: system
        entry: make render-readme
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: .readme

      - id: cargo-doc
        name: cargo-doc
        language: system
        entry: cargo doc --document-private-items
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-test
        name: cargo-test
        language: system
        entry: cargo test
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        entry: cargo +nightly-2025-10-23 fmt --all -- --check
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        entry: cargo clippy --all-targets -- -D warnings
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

chore: Rename / in
  CHANGELOG.md
  docs/modules/airflow/pages/usage-guide/overrides.adoc
  tests/templates/kuttl/smoke/40-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/smoke/41-assert.yaml
Due: none

adjust changelog entry
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Some docs
  docs/modules/airflow/pages/getting_started/first_steps.adoc
  docs/modules/airflow/pages/usage-guide/database-connections.adoc
  docs/modules/airflow/partials/nav.adoc
Due: none

chore!: Rename EXPERIMENTAL_FILE_HEADER / EXPERIMENTAL_FILE_FOOTER in webserver_config.py (#777)
  CHANGELOG.md
  docs/modules/airflow/pages/usage-guide/overrides.adoc
  tests/templates/kuttl/smoke/40-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/smoke/41-assert.yaml
Due: none

Rename celeryResultBackend -> ResultBackend and celeryBroker -> broker
  docs/modules/airflow/examples/example-airflow-incluster.yaml
  docs/modules/airflow/examples/getting_started/code/airflow.yaml
  docs/modules/airflow/pages/getting_started/first_steps.adoc
  docs/modules/airflow/pages/usage-guide/database-connections.adoc
  extra/crds.yaml
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/mod.rs
  tests/templates/kuttl/cluster-operation/08-install-airflow.yaml.j2
  tests/templates/kuttl/external-access/install-airflow-cluster.yaml.j2
  tests/templates/kuttl/ldap/60-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/logging/41-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/mount-dags-configmap/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/mount-dags-gitsync/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/orphaned-resources/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/overrides/10-install-airflow.yaml.j2
  tests/templates/kuttl/remote-logging/40-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/resources/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/smoke/40-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/triggerer/30-install-airflow-cluster.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

docs: Add DAG bundles guide as alternative to git-sync for multi-repo setups
  docs/modules/airflow/examples/example-airflow-dag-bundles.yaml
  docs/modules/airflow/pages/usage-guide/mounting-dags.adoc
Due: none

WIP changelog
  CHANGELOG.md
  docs/modules/airflow/examples/getting_started/code/airflow-credentials.yaml
Due: none

changelog
  CHANGELOG.md
Due: none

Fix some leftover credentialsSecret renames
  deploy/config-spec/properties.yaml
  deploy/helm/airflow-operator/configs/properties.yaml
  docs/modules/airflow/pages/getting_started/first_steps.adoc
  tests/templates/kuttl/overrides/11-assert.yaml
Due: none

test: Fix ca-cert test
  tests/templates/kuttl/ca-cert/15-secrets.yaml
  tests/templates/kuttl/ca-cert/25_airflow-wrong-cert.yaml.j2
Due: none

More test fixes
  tests/templates/kuttl/ca-cert/30_airflow-cluster.yaml.j2
Due: none

fix: Fix broken link to AirflowCluster CRD docs
  docs/modules/airflow/partials/nav.adoc
Due: none

spike: Use dynamic product image selection
  Cargo.lock
  Cargo.nix
  Cargo.toml
  Tiltfile
  crate-hashes.json
  deploy/helm/airflow-operator/templates/deployment.yaml
  extra/crds.yaml
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/main.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

docs: Add DAG bundles guide as alternative to git-sync for multi-repo setups (#778)
  docs/modules/airflow/examples/example-airflow-dag-bundles.yaml
  docs/modules/airflow/pages/usage-guide/mounting-dags.adoc
Due: none

Fix more tests
  tests/templates/kuttl/cluster-operation/10-pause-airflow.yaml.j2
  tests/templates/kuttl/cluster-operation/30-restart-airflow.yaml.j2
  tests/templates/kuttl/cluster-operation/31-assert.yaml
Due: none

broken link and external links
  docs/modules/airflow/pages/usage-guide/applying-custom-resources.adoc
Due: none

broken link and external links
  docs/modules/airflow/pages/usage-guide/security.adoc
Due: none

fix: Fix various broken links in docs (#779)
  docs/modules/airflow/pages/usage-guide/applying-custom-resources.adoc
  docs/modules/airflow/pages/usage-guide/security.adoc
  docs/modules/airflow/partials/nav.adoc
Due: none

Update tests/templates/kuttl/versioning/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/versioning/30-install-airflow-cluster.yaml.j2
Due: none

yaml linter
  deploy/config-spec/properties.yaml
  deploy/helm/airflow-operator/configs/properties.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@1f730e75a043c740129e68c096c972e93281e1c0
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_pre-commit.yaml
  Makefile
  Tiltfile
  deny.toml
  deploy/helm/airflow-operator/.helmignore
  deploy/helm/airflow-operator/templates/_helpers.tpl
  deploy/helm/airflow-operator/templates/deployment.yaml
  deploy/helm/airflow-operator/values/oci.stackable.tech.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@1f730e75a043c740129e68c096c972e93281e1c0 (#781)
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_pre-commit.yaml
  Makefile
  Tiltfile
  deny.toml
  deploy/helm/airflow-operator/.helmignore
  deploy/helm/airflow-operator/templates/_helpers.tpl
  deploy/helm/airflow-operator/templates/deployment.yaml
  deploy/helm/airflow-operator/values/oci.stackable.tech.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@a39137cb2a443e27d2ef1ddbfafbc9fddf412b71
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_pre-commit.yaml
Due: none

chore(helm): Remove image.repository from values.yaml
  deploy/helm/airflow-operator/values.yaml
Due: none

ci: Fix Helm Chart values file merge order (#782)
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_pre-commit.yaml
  deploy/helm/airflow-operator/values.yaml
Due: none

fix: Fix broken link in documentation
  docs/modules/airflow/pages/index.adoc
Due: none

feat: Support dynamic image repositories
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/main.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

test: Add placeholder values to satify roundtrip tests
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

test: Use correct parameter order
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: Bump rustls-webpki to 0.103.13 to negate RUSTSEC-2026-0104
  Cargo.lock
  Cargo.nix
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

test: Add CRD roundtrip test data
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Reduce gracefulShutdownTimeout to 10s in test specs to ensure pods terminate leaving sufficient time for PVC finaliser cleanup
  tests/templates/kuttl/ldap/60-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/logging/41-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/mount-dags-configmap/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/mount-dags-gitsync/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/smoke/40-assert.yaml.j2
  tests/templates/kuttl/smoke/40-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/versioning/30-install-airflow-cluster.yaml.j2
Due: none

Don't test git-sync roundtrip
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Increase test coverage
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Add changelog entry
  CHANGELOG.md
Due: none

feat: Support dynamic image repositories (#784)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/main.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy
