Repository stackabletech/airflow-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

.pre-commit-config.yaml:

---
exclude: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0 # 6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/EmbarkStudios/cargo-deny
    # Failing to compile cargo-deny with version >0.18.3, needs rust 1.88.0
    rev: 0.18.6 # 0.18.3
    hooks:
      - id: cargo-deny
        args: ["--all-features", "check", "advisories", "bans", "licenses", "sources"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1 # 1.37.1
    hooks:
      - id: yamllint
        args: ["--strict"]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0 # 0.45.0
    hooks:
      - id: markdownlint
        types: [text]
        files: \.md(\.j2)*$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0 # 0.11.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]

  # WARNING (@NickLarsenNZ): Nix users need to install ruff first.
  # If you do not, you will need to delete the cached ruff binary shown in the
  # error message
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7 # 0.14.1
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9 # 1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0 # 2.14.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: regenerate-charts
        name: regenerate-charts
        language: system
        entry: make regenerate-charts
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: regenerate-nix
        name: regenerate-nix
        language: system
        entry: make regenerate-nix
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: Cargo\.lock

      - id: check-readme
        name: check-readme
        language: system
        entry: make render-readme
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: .readme

      - id: cargo-doc
        name: cargo-doc
        language: system
        entry: cargo doc --document-private-items
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-test
        name: cargo-test
        language: system
        entry: cargo test
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        entry: cargo +nightly-2025-10-23 fmt --all -- --check
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        entry: cargo clippy --all-targets -- -D warnings
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

Add two more comments
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/env_vars.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Another comment
  rust/operator-binary/src/airflow_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

removing add_env for dags-init container
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

consistent names across init containers
  rust/operator-binary/src/airflow_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix(tests): helm 4 compatability
  tests/templates/kuttl/remote-logging/helm-bitnami-minio-values.yaml
Due: none

chore: Bump Rust dependencies
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/crd/internal_secret.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Add changelog entry
  CHANGELOG.md
Due: none

add only if git-sync is not empty in pythonpath
  rust/operator-binary/src/env_vars.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@dc62e956d3d1f304c43dbd870b3f0ede036cda25
  .github/workflows/build.yaml
  .github/workflows/pr_pre-commit.yaml
  .pre-commit-config.yaml
  .vscode/settings.json
  Cargo.nix
  docker/Dockerfile
  nix/sources.json
  rust-toolchain.toml
Due: none

Updating integration test mount-dags-gitsync to use two git-syncs
  tests/templates/kuttl/mount-dags-gitsync/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/mount-dags-gitsync/31-assert.yaml.j2
  tests/templates/kuttl/mount-dags-gitsync/dag_metrics.py
Due: none

making pre-commit happy again
  rust/operator-binary/src/env_vars.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

again, pre-commit for dag-metrics.py
  tests/templates/kuttl/mount-dags-gitsync/dag_metrics.py
Due: none

rework typos
  tests/templates/kuttl/mount-dags-gitsync/31-assert.yaml.j2
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@dc62e956d3d1f304c43dbd870b3f0ede036cda25 (#753)
  .github/workflows/build.yaml
  .github/workflows/pr_pre-commit.yaml
  .pre-commit-config.yaml
  .vscode/settings.json
  Cargo.nix
  docker/Dockerfile
  nix/sources.json
  rust-toolchain.toml
Due: none

better documentation for multi-git-sync
  docs/modules/airflow/pages/usage-guide/mounting-dags.adoc
  tests/templates/kuttl/mount-dags-gitsync/30-install-airflow-cluster.yaml.j2
Due: none

again pre-commit hook was unhappy
  docs/modules/airflow/pages/usage-guide/mounting-dags.adoc
Due: none

Add test print I forgot
  tests/templates/kuttl/mount-dags-gitsync/dag_metrics.py
Due: none

chore: Remove unused code
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

change to tls class
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  tests/templates/kuttl/ca-cert/00-rbac.yaml.j2
  tests/templates/kuttl/ca-cert/15-create-ca-cert.yaml
  tests/templates/kuttl/ca-cert/25_airflow-wrong-cert.yaml.j2
  tests/templates/kuttl/ca-cert/30_airflow-cluster.yaml.j2
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

chore: Bump Rust dependencies pre-26.3 (#752)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/crd/internal_secret.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

bump to op-rs 106.2
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

updated docs
  docs/modules/airflow/examples/example-airflow-gitsync-https.yaml
  docs/modules/airflow/pages/usage-guide/mounting-dags.adoc
Due: none

fix(tests): helm 4 compatability (#751)
  tests/templates/kuttl/remote-logging/helm-bitnami-minio-values.yaml
Due: none

feat: Implement generic database connection
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/databases.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/env_vars.rs
  rust/operator-binary/src/operations/pdb.rs
  tests/templates/kuttl/smoke/40-install-airflow-cluster.yaml.j2
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

removed comment
  docs/modules/airflow/examples/example-airflow-gitsync-https.yaml
Due: none

fix: Add to Pod template as well
  rust/operator-binary/src/airflow_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Bump op-rs
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

Fix tests
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Update kuttl tests
  tests/templates/kuttl/cluster-operation/08-install-airflow.yaml.j2
  tests/templates/kuttl/cluster-operation/10-pause-airflow.yaml.j2
  tests/templates/kuttl/cluster-operation/20-stop-airflow.yaml.j2
  tests/templates/kuttl/cluster-operation/30-restart-airflow.yaml.j2
  tests/templates/kuttl/external-access/install-airflow-cluster.yaml.j2
  tests/templates/kuttl/ldap/60-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/logging/41-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/mount-dags-configmap/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/mount-dags-gitsync/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/oidc/install-airflow.yaml.j2
  tests/templates/kuttl/opa/30-install-airflow.yaml.j2
  tests/templates/kuttl/orphaned-resources/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/overrides/10-install-airflow.yaml.j2
  tests/templates/kuttl/overrides/20-install-airflow2.yaml.j2
  tests/templates/kuttl/remote-logging/40-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/resources/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/triggerer/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/versioning/30-install-airflow-cluster.yaml.j2
Due: none

Update docs
  docs/modules/airflow/examples/example-airflow-dags-configmap.yaml
  docs/modules/airflow/examples/example-airflow-gitsync-https.yaml
  docs/modules/airflow/examples/example-airflow-incluster.yaml
  docs/modules/airflow/examples/example-airflow-secret.yaml
  docs/modules/airflow/examples/getting_started/code/airflow-credentials.yaml
  docs/modules/airflow/examples/getting_started/code/airflow.yaml
  docs/modules/airflow/pages/usage-guide/logging.adoc
  docs/modules/airflow/pages/usage-guide/storage-resources.adoc
  docs/modules/airflow/pages/usage-guide/using-kubernetes-executors.adoc
  examples/simple-airflow-cluster-dags-cmap.yaml
  examples/simple-airflow-cluster-ldap-insecure-tls.yaml
  examples/simple-airflow-cluster-ldap.yaml
  examples/simple-airflow-cluster.yaml
  rust/operator-binary/src/crd/affinity.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Further update docs
  docs/modules/airflow/examples/getting_started/code/airflow-credentials.yaml
Due: none

bump op-rs
  Cargo.lock
  Cargo.nix
  extra/crds.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

Updating 31-assert test step for airflow mount-dags-gitsync
  tests/templates/kuttl/mount-dags-gitsync/31-assert.yaml.j2
Due: none

cargo fmt
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

reference tls field with webPki as default
  Cargo.lock
  Cargo.nix
  crate-hashes.json
  docs/modules/airflow/pages/usage-guide/mounting-dags.adoc
  extra/crds.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

Use docs from op-rs
  extra/crds.yaml
  rust/operator-binary/src/crd/databases.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Better comments according to review
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Update docs/modules/airflow/pages/usage-guide/mounting-dags.adoc
  docs/modules/airflow/pages/usage-guide/mounting-dags.adoc
Due: none

docs correction
  Cargo.lock
  Cargo.nix
  crate-hashes.json
  docs/modules/airflow/pages/usage-guide/mounting-dags.adoc
  tests/templates/kuttl/mount-dags-gitsync/30-install-airflow-cluster.yaml.j2
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

Reworking softlinks and copy commands according to airflow patch
  rust/operator-binary/src/crd/mod.rs
  tests/templates/kuttl/mount-dags-gitsync/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/mount-dags-gitsync/31-assert.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy
