Repository stackabletech/airflow-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

.pre-commit-config.yaml:

---
exclude: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0 # 6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/EmbarkStudios/cargo-deny
    # Failing to compile cargo-deny with version >0.18.3, needs rust 1.88.0
    rev: 0.18.6 # 0.18.3
    hooks:
      - id: cargo-deny
        args: ["--all-features", "check", "advisories", "bans", "licenses", "sources"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1 # 1.37.1
    hooks:
      - id: yamllint
        args: ["--strict"]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0 # 0.45.0
    hooks:
      - id: markdownlint
        types: [text]
        files: \.md(\.j2)*$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0 # 0.11.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]

  # WARNING (@NickLarsenNZ): Nix users need to install ruff first.
  # If you do not, you will need to delete the cached ruff binary shown in the
  # error message
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7 # 0.14.1
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9 # 1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0 # 2.14.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: regenerate-charts
        name: regenerate-charts
        language: system
        entry: make regenerate-charts
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: regenerate-nix
        name: regenerate-nix
        language: system
        entry: make regenerate-nix
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: Cargo\.lock

      - id: check-readme
        name: check-readme
        language: system
        entry: make render-readme
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: .readme

      - id: cargo-doc
        name: cargo-doc
        language: system
        entry: cargo doc --document-private-items
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-test
        name: cargo-test
        language: system
        entry: cargo test
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        entry: cargo +nightly-2025-10-23 fmt --all -- --check
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        entry: cargo clippy --all-targets -- -D warnings
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

chore: remove test for "missing" fields
  rust/operator-binary/src/controller/build/properties/product_logging/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: increase scheduler default memory 1GB -> 1.2GB (3.2.2 OOM crashes)
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: add scheudler memory increase (1GB -> 1.2GB)
  CHANGELOG.md
Due: none

fix: import "ldap.filter" to fix FAB regression when ldap auth class is used
  rust/operator-binary/src/controller/build/properties/webserver_config.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: remove loop spamming on response status != 200
  tests/templates/kuttl/mount-dags-gitsync/dag_metrics.py
Due: none

fix: bum scheduler memory to 1.5GB to avoid OOM in tests
  CHANGELOG.md
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: split event sources for remote logging 3.2.2 test
  tests/templates/kuttl/remote-logging/remote-logging-metrics.py
Due: none

changelog
  CHANGELOG.md
Due: none

clippy warning and comment update
  rust/operator-binary/src/airflow_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

move db connection resolution out of validate step
  rust/operator-binary/src/controller/build/properties/env_vars.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

use v2 cluster_resources_new
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@f971d110628426e7947a504a9dbbd965e6bb1571
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_prek.yaml
  .readme/partials/borrowed/overview_blurb.md.j2
  README.md
  deny.toml
  deploy/helm/airflow-operator/values/quay.io.yaml
  renovate.json
Due: check-readme

ci: Use correct Helm version
  .github/workflows/build.yaml
Due: none

ci: Publish to quay.io, bump actions (#806)
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_prek.yaml
  .readme/partials/borrowed/overview_blurb.md.j2
  README.md
  deny.toml
  deploy/helm/airflow-operator/values/quay.io.yaml
  renovate.json
Due: check-readme

git_sync::v1alpha2::GitSyncResources usage inline with nifi
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@0c1421a8f76ce80a7ee47a92cef531a6edcaeccd
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_prek.yaml
  .pre-commit-config.yaml
  scripts/docs_templating.sh
Due: none

ci: Fix env var interpolation
  .github/workflows/build.yaml
Due: none

ci: Harden workflows (#807)
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_prek.yaml
  .pre-commit-config.yaml
  scripts/docs_templating.sh
Due: none

docs: fix pr tag
  CHANGELOG.md
Due: none

docs: consolidate method comments
  rust/operator-binary/src/controller/build/properties/mod.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

dep: update anyhow for RUSTSEC-2026-0190
  Cargo.lock
  Cargo.nix
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@a0fd6b5004b95e059d1d3d718f00f1583d18eb08
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_prek.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@a0fd6b5004b95e059d1d3d718f00f1583d18eb08 (#808)
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_prek.yaml
Due: none

docs: crds are installed by the operator
  docs/modules/airflow/pages/getting_started/installation.adoc
Due: none

docs: crds are installed by the operator (#809)
  docs/modules/airflow/pages/getting_started/installation.adoc
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@1cc39b7185f52ae92fd1712629af71b4c5079659
  .github/workflows/build.yaml
  .github/workflows/pr_prek.yaml
  .pre-commit-config.yaml
  .vscode/settings.json
  Cargo.nix
  nix/sources.json
  rust-toolchain.toml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@1cc39b7185f52ae92fd1712629af71b4c5079659 (#810)
  .github/workflows/build.yaml
  .github/workflows/pr_prek.yaml
  .pre-commit-config.yaml
  .vscode/settings.json
  Cargo.nix
  nix/sources.json
  rust-toolchain.toml
Due: none

chore: Bump Rust dependencies
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Add changelog entry
  CHANGELOG.md
Due: none

chore: Bump Rust dependencies pre-26.7.0 (#811)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

docs: add userRegistration and syncRolesAt
  docs/modules/airflow/pages/usage-guide/security.adoc
Due: none

docs: improve section on override options
  docs/modules/airflow/pages/usage-guide/overrides.adoc
Due: none

docs: add userRegistration and syncRolesAt (#813)
  docs/modules/airflow/pages/usage-guide/security.adoc
Due: none

chore: incorporate review suggestion
  docs/modules/airflow/pages/usage-guide/overrides.adoc
Due: none

docs: improve section on override options (#812)
  docs/modules/airflow/pages/usage-guide/overrides.adoc
Due: none

refactor: Introduce build aggregator
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refined comment
  rust/operator-binary/src/airflow_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

linting
  rust/operator-binary/src/airflow_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

docs: add LDAP issue when upgrading to Airflow 3
  docs/modules/airflow/pages/troubleshooting/index.adoc
  docs/modules/airflow/pages/usage-guide/overrides.adoc
Due: none
