Repository stackabletech/airflow-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

.pre-commit-config.yaml:

---
exclude: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0 # 6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/EmbarkStudios/cargo-deny
    # Failing to compile cargo-deny with version >0.18.3, needs rust 1.88.0
    rev: 0.18.6 # 0.18.3
    hooks:
      - id: cargo-deny
        args: ["--all-features", "check", "advisories", "bans", "licenses", "sources"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1 # 1.37.1
    hooks:
      - id: yamllint
        args: ["--strict"]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0 # 0.45.0
    hooks:
      - id: markdownlint
        types: [text]
        files: \.md(\.j2)*$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0 # 0.11.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]

  # WARNING (@NickLarsenNZ): Nix users need to install ruff first.
  # If you do not, you will need to delete the cached ruff binary shown in the
  # error message
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7 # 0.14.1
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9 # 1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0 # 2.14.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: regenerate-charts
        name: regenerate-charts
        language: system
        entry: make regenerate-charts
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: regenerate-nix
        name: regenerate-nix
        language: system
        entry: make regenerate-nix
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: Cargo\.lock

      - id: check-readme
        name: check-readme
        language: system
        entry: make render-readme
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: .readme

      - id: cargo-doc
        name: cargo-doc
        language: system
        entry: cargo doc --document-private-items
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-test
        name: cargo-test
        language: system
        entry: cargo test
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        entry: cargo +nightly-2025-10-23 fmt --all -- --check
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        entry: cargo clippy --all-targets -- -D warnings
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

refactor: move vendored Flask writer to framework/flask_app_config_writer
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/framework.rs
  rust/operator-binary/src/framework/flask_app_config_writer.rs
  rust/operator-binary/src/main.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

replace usage of product_config_utils::env_vars_from with inline calls, as done with trino
  rust/operator-binary/src/airflow_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

changelog update
  CHANGELOG.md
Due: none

refactor: move vendored writer to config/writer, drop framework module
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/config/mod.rs
  rust/operator-binary/src/config/writer.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/framework.rs
  rust/operator-binary/src/main.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: extract webserver_config.py builder into config/webserver_config
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/config/mod.rs
  rust/operator-binary/src/config/webserver_config.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

use constants directly when resolving image
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

remove mention of product-config from env-var docs
  docs/modules/airflow/pages/reference/environment-variables.adoc
Due: none

refactor: move rolegroup ConfigMap build into controller/build/config_map
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/config_map.rs
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

pass validated cluster instead of individual parameters
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/config_map.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

feat: adopt v2 config_overrides; build against the smooth-operator branch
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

docs: make the vendored Flask writer doc operator-agnostic
  rust/operator-binary/src/config/writer.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: consume the Flask config writer from stackable-operator
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/config/mod.rs
  rust/operator-binary/src/config/webserver_config.rs
  rust/operator-binary/src/config/writer.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

feat: bump Rust edition to 2024 (#802)
  Cargo.nix
  Cargo.toml
  rust/operator-binary/src/airflow_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

updated changelog
  CHANGELOG.md
Due: none

remove result as return value as it is now used in calling function
  rust/operator-binary/src/controller/build/config_map.rs
  rust/operator-binary/src/product_logging.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

make webserver_config_py non-optional to bring in line with other operators
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

bring addition of log config config maps inline
  rust/operator-binary/src/controller/build/config_map.rs
  rust/operator-binary/src/product_logging.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

regenerate charts
  extra/crds.yaml
Due: none

remove clippy directive and simplify parameters
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/config_map.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

add function for multiple callouts
  rust/operator-binary/src/airflow_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

use emrge instead of extends
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

alter structure to attempt to being it mroe in line with e.g. hdfs. Added test for merge/extend difference
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/config_map.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

move to v2::role_utils
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

add replicas and pod_overrides to ValidatedRoleGroupConfig
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

move remaining validated structs to controller
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/config_map.rs
  rust/operator-binary/src/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

env_vars_from_overrides to sort deterministically
  rust/operator-binary/src/airflow_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

regenerate nix
  Cargo.nix
  crate-hashes.json
Due: none

bump operator-rs to use updated KeyValueConfigOverrides
  Cargo.lock
  Cargo.nix
  crate-hashes.json
  rust/operator-binary/src/controller/build/config_map.rs
  rust/operator-binary/src/controller/validate.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: consolidate ValidatedClusterConfig, use EnvarSet and operator-rs v2 RoleGroupConfig
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/config/webserver_config.rs
  rust/operator-binary/src/controller/build/config_map.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/env_vars.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: add private metadata to ValidatedCluster to use for ownerreferences
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/config_map.rs
  rust/operator-binary/src/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: move ValidatedCluster structs to controller/mod.rs
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/config/webserver_config.rs
  rust/operator-binary/src/controller/build/config_map.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

use v2 ownerref, add HasName and HasUid traits N.B. compiled against local/temp op-rs
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/config_map.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/service.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: use RoleGroupName, use v2 infallible labels, ResourceNames and reduce usage of RoleGroupRef. N.B. compiled against local op-rs
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/config_map.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/service.rs
  tests/templates/kuttl/resources/30-assert.yaml.j2
  tests/templates/kuttl/resources/30-install-airflow-cluster.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

bump op-rs and fix ResourceName construction
  Cargo.lock
  Cargo.nix
  crate-hashes.json
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/config_map.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/service.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

test: Update assertions
  tests/templates/kuttl/cluster-operation/09-assert.yaml
  tests/templates/kuttl/cluster-operation/31-assert.yaml
Due: none

test: Increase schedule memory limit
  tests/templates/kuttl/logging/41-install-airflow-cluster.yaml.j2
Due: none

test(common/metrics): Check dag started via the web API.
  tests/templates/kuttl/commons/metrics.py
  tests/templates/kuttl/triggerer/triggerer_metrics.py
Due: none

use metrics_service_name() and v2::product_logging::framework::VectorContainerLogConfig
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/service.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy
