Repository stackabletech/airflow-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

.pre-commit-config.yaml:

---
exclude: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0 # 6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/EmbarkStudios/cargo-deny
    # Failing to compile cargo-deny with version >0.18.3, needs rust 1.88.0
    rev: 0.18.6 # 0.18.3
    hooks:
      - id: cargo-deny
        args: ["--all-features", "check", "advisories", "bans", "licenses", "sources"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1 # 1.37.1
    hooks:
      - id: yamllint
        args: ["--strict"]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0 # 0.45.0
    hooks:
      - id: markdownlint
        types: [text]
        files: \.md(\.j2)*$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0 # 0.11.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]

  # WARNING (@NickLarsenNZ): Nix users need to install ruff first.
  # If you do not, you will need to delete the cached ruff binary shown in the
  # error message
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7 # 0.14.1
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9 # 1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0 # 2.14.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: regenerate-charts
        name: regenerate-charts
        language: system
        entry: make regenerate-charts
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: regenerate-nix
        name: regenerate-nix
        language: system
        entry: make regenerate-nix
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: Cargo\.lock

      - id: check-readme
        name: check-readme
        language: system
        entry: make render-readme
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: .readme

      - id: cargo-doc
        name: cargo-doc
        language: system
        entry: cargo doc --document-private-items
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-test
        name: cargo-test
        language: system
        entry: cargo test
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        entry: cargo +nightly-2025-10-23 fmt --all -- --check
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        entry: cargo clippy --all-targets -- -D warnings
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

fix linting
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@0a53faeec74f855d80f7a8b40635e8c340d25696
  .pre-commit-config.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@0a53faeec74f855d80f7a8b40635e8c340d25696 (#755)
  .pre-commit-config.yaml
Due: none

fix: Delay controller startup to avoid 404 in initial list
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/webhooks/conversion.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Add changelog entry
  CHANGELOG.md
Due: none

fix: Delay controller startup to avoid 404 in initial list (#756)
  CHANGELOG.md
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/webhooks/conversion.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: Allow overriding the logging configuration in Airflow 3.1
  rust/operator-binary/src/product_logging.rs
  tests/test-definition.yaml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Update changelog
  CHANGELOG.md
Due: none

chore: Run pre-commit
  tests/templates/kuttl/logging/52-assert.yaml.j2
  tests/templates/kuttl/mount-dags-configmap/50-assert.yaml.j2
Due: none

chore: Fix changelog
  CHANGELOG.md
Due: none

test(logging): Fix custom logging config
  rust/operator-binary/src/product_logging.rs
  tests/templates/kuttl/commons/metrics.py
  tests/templates/kuttl/logging/41-install-airflow-cluster.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

wait for nodes and crds
  docs/modules/airflow/examples/getting_started/code/getting_started.sh
  docs/modules/airflow/examples/getting_started/code/getting_started.sh.j2
Due: none

fix: Delay controller startup to avoid 404 in initial list
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  deploy/helm/airflow-operator/templates/roles.yaml
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/webhooks/conversion.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

test(smoke): Remove the generation assertions
  tests/templates/kuttl/smoke/40-assert.yaml.j2
Due: none

test(resources): Fix OOMKilled events
  tests/templates/kuttl/resources/30-assert.yaml.j2
  tests/templates/kuttl/resources/30-install-airflow-cluster.yaml.j2
Due: none

wait for nodes and crds (#758)
  docs/modules/airflow/examples/getting_started/code/getting_started.sh
  docs/modules/airflow/examples/getting_started/code/getting_started.sh.j2
Due: none

fix: Bump stackable-operator for delayed controller functionality (#759)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  deploy/helm/airflow-operator/templates/roles.yaml
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/webhooks/conversion.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

test: Do not use the sandbox image anymore
  tests/test-definition.yaml
Due: none

fix: Allow overriding the logging configuration in Airflow 3.1 (#757)
  CHANGELOG.md
  rust/operator-binary/src/product_logging.rs
  tests/templates/kuttl/commons/metrics.py
  tests/templates/kuttl/logging/41-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/logging/52-assert.yaml.j2
  tests/templates/kuttl/mount-dags-configmap/50-assert.yaml.j2
  tests/templates/kuttl/resources/30-assert.yaml.j2
  tests/templates/kuttl/resources/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/smoke/40-assert.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Release 26.3.0-rc1
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/airflow-operator/Chart.yaml
  docs/antora.yml
  docs/modules/airflow/examples/getting_started/code/getting_started.sh
  docs/modules/airflow/examples/getting_started/code/install_output.txt
  docs/templating_vars.yaml
  extra/crds.yaml
  tests/release.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

chore: Release 26.3.0-rc1 (#762)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/airflow-operator/Chart.yaml
  docs/antora.yml
  docs/modules/airflow/examples/getting_started/code/getting_started.sh
  docs/modules/airflow/examples/getting_started/code/install_output.txt
  docs/templating_vars.yaml
  extra/crds.yaml
  tests/release.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

chore: Release 26.3.0
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/airflow-operator/Chart.yaml
  docs/modules/airflow/examples/getting_started/code/getting_started.sh
  docs/modules/airflow/examples/getting_started/code/install_output.txt
  docs/templating_vars.yaml
  tests/release.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

chore: Release 26.3.0 (#763)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/airflow-operator/Chart.yaml
  docs/modules/airflow/examples/getting_started/code/getting_started.sh
  docs/modules/airflow/examples/getting_started/code/install_output.txt
  docs/templating_vars.yaml
  tests/release.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

Update CHANGELOG.md from release 26.3.0
  CHANGELOG.md
Due: none

Update CHANGELOG.md from release 26.3.0 (#764)
  CHANGELOG.md
Due: none

feat: support setting clientAuthenticationMethod for OIDC
  rust/operator-binary/src/config.rs
  rust/operator-binary/src/crd/authentication.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Describe RBAC rules, remove unnecessary rules
  deploy/helm/airflow-operator/templates/roles.yaml
Due: none

chore: Simplify RBAC descriptions
  deploy/helm/airflow-operator/templates/roles.yaml
Due: none

fix: CRD permissions
  deploy/helm/airflow-operator/templates/roles.yaml
Due: none

chore: Reword
  deploy/helm/airflow-operator/templates/roles.yaml
Due: none

chore: Keep rbac.authorization.k8s.io rules together
  deploy/helm/airflow-operator/templates/roles.yaml
Due: none

chore: Remove permissions for AirflowCluster role
  deploy/helm/airflow-operator/templates/roles.yaml
Due: none

chore: Remove unused code
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore(nix): Update hashes to avoid mismatch
  Cargo.nix
  crate-hashes.json
Due: none

chore: Split operator and product roles into separate files
  deploy/helm/airflow-operator/templates/clusterrole-operator.yaml
  deploy/helm/airflow-operator/templates/clusterrole-product.yaml
Due: none

Apply suggestions from code review
  deploy/helm/airflow-operator/templates/clusterrole-operator.yaml
  deploy/helm/airflow-operator/templates/clusterrole-product.yaml
Due: none

chore: Remove unused node list/watch permissions
  deploy/helm/airflow-operator/templates/clusterrole-operator.yaml
Due: none

Apply suggestions from code review
  CHANGELOG.md
Due: none
