Repository stackabletech/airflow-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

regenerate-charts:
  name: regenerate-charts
  language: system
  entry: make regenerate-charts
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

regenerate-nix:
  name: regenerate-nix
  language: system
  entry: make regenerate-nix
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

check-readme:
  name: check-readme
  language: system
  entry: make render-readme
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  language: system
  entry: cargo doc --document-private-items
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-test:
  name: cargo-test
  language: system
  entry: cargo test
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-rustfmt:
  name: cargo-rustfmt
  language: system
  entry: cargo +nightly-2025-10-23 fmt --all -- --check
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

refactor: derive Ord/PartialOrd on AirflowRole
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: extract dereference/validate pipeline from reconcile_airflow
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/dereference.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/main.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: restore fernet key length comment in dereference module
  rust/operator-binary/src/controller/dereference.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: restore kubernetes executor comment in validate_cluster
  rust/operator-binary/src/airflow_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: extract validate_cluster into controller::validate module
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: align error variant naming with hive and hbase operators
  rust/operator-binary/src/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@95539aa636078a936b5c1024c77e7cd7a78ff6be
  Tiltfile
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@95539aa636078a936b5c1024c77e7cd7a78ff6be (#796)
  Tiltfile
Due: none

refactor: move product image resolution from dereference to validate
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/dereference.rs
  rust/operator-binary/src/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: move secret creation from dereference to reconciler
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/dereference.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

changelog
  CHANGELOG.md
Due: none

refactor: extract dereference/validate pipeline from reconcile_airflow (#795)
  CHANGELOG.md
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/dereference.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/main.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: Replace DummyOperator by EmptyOperator as it was removed in Airflow 2.4.3
  docs/modules/airflow/examples/example-configmap.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@96368df17aa9ea9327f18e329bc09d9f53c3ca2b
  .github/workflows/build.yaml
  .readme/partials/borrowed/overview_blurb.md.j2
  README.md
  deploy/helm/airflow-operator/values/quay.io.yaml
Due: check-readme

fix: it was moved once more
  docs/modules/airflow/examples/example-configmap.yaml
Due: none

ci: Logout of helm before logging in again
  .github/workflows/build.yaml
Due: none

ci: Exit and print out error when non-0 exit code
  .github/workflows/build.yaml
Due: none

Revert "ci: Logout of helm before logging in again"
  .github/workflows/build.yaml
Due: none

fix: Replace DummyOperator by EmptyOperator in docs (#797)
  docs/modules/airflow/examples/example-configmap.yaml
Due: none

chore: Bump OPA to 1.16.2
  tests/test-definition.yaml
Due: none

chore: Bump OPA to 1.16.2 (#799)
  tests/test-definition.yaml
Due: none

test: Bump vector-aggregator to 0.55.0
  tests/templates/kuttl/logging/30-install-airflow-vector-aggregator.yaml
Due: none

test: replace /graphql call with gRPC call
  tests/templates/kuttl/logging/test_log_aggregation.py
Due: none

chore: Update changelog
  CHANGELOG.md
Due: none

chore: Bump vector to 0.55.0 (#801)
  CHANGELOG.md
  tests/templates/kuttl/logging/30-install-airflow-vector-aggregator.yaml
  tests/templates/kuttl/logging/test_log_aggregation.py
Due: none

chore: add test to reproduce Airflow / OPA interop issue
  tests/templates/kuttl/opa-interop/10-patch-ns.yaml.j2
  tests/templates/kuttl/opa-interop/11-assert.yaml
  tests/templates/kuttl/opa-interop/11-install-postgresql.yaml
  tests/templates/kuttl/opa-interop/11_helm-bitnami-postgresql-values.yaml.j2
  tests/templates/kuttl/opa-interop/20-assert.yaml
  tests/templates/kuttl/opa-interop/20-install-opa.yaml.j2
  tests/templates/kuttl/opa-interop/30-assert.yaml
  tests/templates/kuttl/opa-interop/30-install-airflow.yaml.j2
  tests/templates/kuttl/opa-interop/31-opa-rules.yaml
  tests/templates/kuttl/opa-interop/32-create-users.yaml
  tests/templates/kuttl/opa-interop/41-check-listing.yaml
  tests/templates/kuttl/opa-interop/41_check-listing_3.py
  tests/test-definition.yaml
Due: none

chore: adjust changelog
  CHANGELOG.md
Due: none

fix: rename / change final check to TestAssert
  tests/templates/kuttl/opa-interop/40-assert.yaml
  tests/templates/kuttl/opa-interop/40_check-listing_3.py
Due: none

chore: clarify that this fix is only for Airflow 3
  CHANGELOG.md
Due: none

chore: remove custom tag
  tests/test-definition.yaml
Due: none

chore: add test to reproduce Airflow / OPA interop issue (#800)
  CHANGELOG.md
  tests/templates/kuttl/opa-interop/10-patch-ns.yaml.j2
  tests/templates/kuttl/opa-interop/11-assert.yaml
  tests/templates/kuttl/opa-interop/11-install-postgresql.yaml
  tests/templates/kuttl/opa-interop/11_helm-bitnami-postgresql-values.yaml.j2
  tests/templates/kuttl/opa-interop/20-assert.yaml
  tests/templates/kuttl/opa-interop/20-install-opa.yaml.j2
  tests/templates/kuttl/opa-interop/30-assert.yaml
  tests/templates/kuttl/opa-interop/30-install-airflow.yaml.j2
  tests/templates/kuttl/opa-interop/31-opa-rules.yaml
  tests/templates/kuttl/opa-interop/32-create-users.yaml
  tests/templates/kuttl/opa-interop/40-assert.yaml
  tests/templates/kuttl/opa-interop/40_check-listing_3.py
  tests/templates/kuttl/opa-interop/41-check-listing.yaml
  tests/templates/kuttl/opa-interop/41_check-listing_3.py
  tests/test-definition.yaml
Due: none

feat: bump Rust edition to 2024
  Cargo.nix
  Cargo.toml
  rust/operator-binary/src/airflow_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore(nix): Formatting
  shell.nix
Due: none

test: Add Airflow 3.2.1
  tests/templates/kuttl/commons/metrics.py
  tests/test-definition.yaml
Due: none

chore(nix): add grpcurl
  shell.nix
Due: none

docs(supported-versions): Add 3.2.1, deprecate 3.1.6
  docs/modules/airflow/partials/supported-versions.adoc
Due: none

feat: add merged_overrides() to AirflowCluster
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: remove product-config validation from reconcile
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/crd/authorization.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/env_vars.rs
  rust/operator-binary/src/main.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

docs: remove product-config CLI parameter
  CHANGELOG.md
  docs/modules/airflow/pages/reference/commandline-parameters.adoc
Due: none

feat: remove product-config crate dependency
  Cargo.lock
  Cargo.nix
  Cargo.toml
  rust/operator-binary/Cargo.toml
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/flask_config_writer.rs
  rust/operator-binary/src/main.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Path conditions:
  regenerate-charts: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  regenerate-nix: any of: Cargo\.lock, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  check-readme: any of: .readme, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-doc: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-test: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-rustfmt: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-clippy: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
