Repository stackabletech/airflow-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

regenerate-charts:
  name: regenerate-charts
  language: system
  entry: make regenerate-charts
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

regenerate-nix:
  name: regenerate-nix
  language: system
  entry: make regenerate-nix
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

check-readme:
  name: check-readme
  language: system
  entry: make render-readme
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  language: system
  entry: cargo doc --document-private-items
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-test:
  name: cargo-test
  language: system
  entry: cargo test
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-rustfmt:
  name: cargo-rustfmt
  language: system
  entry: cargo +nightly-2025-10-23 fmt --all -- --check
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

linting
  CHANGELOG.md
Due: none

Rebuild Cargo.lock and remove unnecessary ".."
  Cargo.lock
  Cargo.nix
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/main.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Update rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: Build RBAC with recommended labels (#821)
  CHANGELOG.md
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/resource/config_map.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/listener.rs
  rust/operator-binary/src/controller/build/resource/mod.rs
  rust/operator-binary/src/controller/build/resource/pdb.rs
  rust/operator-binary/src/controller/build/resource/rbac.rs
  rust/operator-binary/src/controller/build/resource/service.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor(openlineage): adopt job_name field and lineage.stackable.tech API group
  deploy/helm/airflow-operator/templates/clusterrole-operator.yaml
  docs/modules/airflow/pages/usage-guide/openlineage.adoc
  extra/crds.yaml
  rust/operator-binary/src/controller/build/openlineage.rs
  tests/templates/kuttl/openlineage/10-install-secretclass-auth-connection.yaml.j2
  tests/templates/kuttl/openlineage/20-install-airflow-cluster.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor(openlineage): rename the openLineage spec field to lineage
  CHANGELOG.md
  deploy/helm/airflow-operator/templates/clusterrole-operator.yaml
  docs/modules/airflow/pages/usage-guide/openlineage.adoc
  extra/crds.yaml
  rust/operator-binary/src/controller/build/lineage.rs
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/properties/env_vars.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/dereference.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/main.rs
  tests/templates/kuttl/openlineage/20-install-airflow-cluster.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: extract apply step (Applier) and move secret creation into it
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/apply.rs
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: extract update_status step
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/update_status.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

use app_version_label to ensure labels are release/version-specific
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: move object_meta into the build step
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/resource/config_map.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/listener.rs
  rust/operator-binary/src/controller/build/resource/service.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor(openlineage): follow operator-rs transport enum and required namespace
  Cargo.lock
  Cargo.nix
  docs/modules/airflow/pages/usage-guide/openlineage.adoc
  extra/crds.yaml
  rust/operator-binary/src/controller/build/lineage.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/main.rs
  tests/templates/kuttl/openlineage/10-install-secretclass-auth-connection.yaml.j2
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

changelog
  CHANGELOG.md
Due: none

refactor: Extract apply step (Applier) and move secret creation (#828)
  CHANGELOG.md
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/apply.rs
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/resource/config_map.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/listener.rs
  rust/operator-binary/src/controller/build/resource/service.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/update_status.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

feat: Drive the task handler log level from the airflow.task logger
  CHANGELOG.md
  docs/modules/airflow/pages/usage-guide/logging.adoc
  rust/operator-binary/src/controller/build/properties/product_logging/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@cb967974cac939e2c8e2f8c417b37d05736563ec
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_prek.yaml
  scripts/auto-retry-tests.py
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@cb967974cac939e2c8e2f8c417b37d05736563ec (#830)
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_prek.yaml
  scripts/auto-retry-tests.py
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@43e2912738d7f00fb3147177c6252e6c6f968f54
  Makefile
  default.nix
  deploy/helm/airflow-operator/Chart.yaml
  deploy/helm/airflow-operator/README.md
  docker/Dockerfile
  nix/meta.json
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@b1c6faac33a20410da088bd01ec1b6393d93b6f1
  Makefile
  default.nix
  deploy/helm/airflow-operator/Chart.yaml
  deploy/helm/airflow-operator/README.md
  docker/Dockerfile
  nix/meta.json
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@b1c6faac33a20410da088bd01ec1b6393d93b6f1 (#832)
  Makefile
  default.nix
  deploy/helm/airflow-operator/Chart.yaml
  deploy/helm/airflow-operator/README.md
  docker/Dockerfile
  nix/meta.json
Due: none

docs: Add FIXME note regarding test teardown
  tests/templates/kuttl/smoke/90-cleanup-executor-pods.yaml.j2
Due: none

docs: Add FIXME note regarding test teardown (#833)
  tests/templates/kuttl/smoke/90-cleanup-executor-pods.yaml.j2
Due: none

Add TrustedProxy type for validating trusted reverse proxy entries
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/trusted_proxies.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Add trustedProxies field to the webserver role config
  extra/crds.yaml
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Validate trustedProxies during cluster validation
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/trusted_proxies.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Enable api-server proxy headers when trusted proxies are configured
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Configure which reverse proxies the api-server trusts
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/properties/env_vars.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Document running the Airflow webserver behind a reverse proxy
  CHANGELOG.md
  docs/modules/airflow/pages/usage-guide/reverse-proxy.adoc
  docs/modules/airflow/partials/nav.adoc
Due: none

Add integration test coverage for trusted proxies
  tests/templates/kuttl/external-access/45-assert.yaml
  tests/templates/kuttl/external-access/install-airflow-cluster.yaml.j2
Due: none

Gate trusted-proxies kuttl assertions for Airflow 2.x scenarios
  tests/templates/kuttl/external-access/45-assert.yaml.j2
Due: none

Fix trusted-proxies review findings: host-bit CIDRs, sole-wildcard rule, and error causes
  extra/crds.yaml
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/properties/env_vars.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/trusted_proxies.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Docs: fix reverse-proxy guidance to avoid invalid trustedProxies entries
  docs/modules/airflow/pages/usage-guide/reverse-proxy.adoc
Due: none

Reject trusted-proxy prefix lengths with a leading sign
  rust/operator-binary/src/crd/trusted_proxies.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Tone down the verbosity of the CRD field doc
  extra/crds.yaml
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

docs: document remote logging
  docs/modules/airflow/pages/usage-guide/logging.adoc
  docs/modules/airflow/pages/usage-guide/using-kubernetes-executors.adoc
Due: none

Remove comment verbosity
  docs/modules/airflow/pages/usage-guide/reverse-proxy.adoc
  rust/operator-binary/src/controller/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: demonstrate that task logs are not aggregated in kuttl test
  tests/templates/kuttl/logging/55-task-log-aggregation.yaml.j2
  tests/templates/kuttl/logging/airflow-vector-aggregator-values.yaml.j2
  tests/templates/kuttl/logging/task-log-aggregation.py
Due: none

feat: Drive the task handler log level from the airflow.task logger (#829)
  CHANGELOG.md
  docs/modules/airflow/pages/usage-guide/logging.adoc
  rust/operator-binary/src/controller/build/properties/product_logging/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

docs: document remote logging (#836)
  docs/modules/airflow/pages/usage-guide/logging.adoc
  docs/modules/airflow/pages/usage-guide/using-kubernetes-executors.adoc
Due: none

chore: Remove role and role group labels where they don't apply
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/controller/apply.rs
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/resource/config_map.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/listener.rs
  rust/operator-binary/src/controller/build/resource/pdb.rs
  rust/operator-binary/src/controller/build/resource/rbac.rs
  rust/operator-binary/src/controller/build/resource/service.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Enable ProxyFix environment variables for Airflow 2
  docs/modules/airflow/pages/usage-guide/reverse-proxy.adoc
  extra/crds.yaml
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/properties/env_vars.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/trusted_proxies.rs
  tests/templates/kuttl/external-access/45-assert.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Path conditions:
  regenerate-charts: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  regenerate-nix: any of: Cargo\.lock, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  check-readme: any of: .readme, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-doc: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-test: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-rustfmt: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-clippy: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
