Repository stackabletech/airflow-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

.pre-commit-config.yaml:

---
exclude: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0 # 6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/EmbarkStudios/cargo-deny
    # Failing to compile cargo-deny with version >0.18.3, needs rust 1.88.0
    rev: 0.18.6 # 0.18.3
    hooks:
      - id: cargo-deny
        args: ["--all-features", "check", "advisories", "bans", "licenses", "sources"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1 # 1.37.1
    hooks:
      - id: yamllint
        args: ["--strict"]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0 # 0.45.0
    hooks:
      - id: markdownlint
        types: [text]
        files: \.md(\.j2)*$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0 # 0.11.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]

  # WARNING (@NickLarsenNZ): Nix users need to install ruff first.
  # If you do not, you will need to delete the cached ruff binary shown in the
  # error message
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7 # 0.14.1
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9 # 1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0 # 2.14.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: regenerate-charts
        name: regenerate-charts
        language: system
        entry: make regenerate-charts
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: regenerate-nix
        name: regenerate-nix
        language: system
        entry: make regenerate-nix
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: Cargo\.lock

      - id: check-readme
        name: check-readme
        language: system
        entry: make render-readme
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: .readme

      - id: cargo-doc
        name: cargo-doc
        language: system
        entry: cargo doc --document-private-items
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-test
        name: cargo-test
        language: system
        entry: cargo test
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        entry: cargo +nightly-2025-10-23 fmt --all -- --check
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        entry: cargo clippy --all-targets -- -D warnings
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

Fix/tests 3.1.5 (non-logging) (#739)
  tests/templates/kuttl/external-access/50-assert.yaml.j2
  tests/templates/kuttl/ldap/95-assert.yaml.j2
  tests/templates/kuttl/logging/70-assert.yaml.j2
  tests/templates/kuttl/mount-dags-configmap/70-assert.yaml.j2
  tests/templates/kuttl/mount-dags-gitsync/70-assert.yaml.j2
  tests/templates/kuttl/smoke/80-assert.yaml.j2
  tests/templates/kuttl/triggerer/70-assert.yaml.j2
  tests/templates/kuttl/versioning/70-assert.yaml.j2
Due: none

feat: Add graceful shutdown
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/main.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Update CRD docs
  extra/crds.yaml
Due: none

chore: Add changelog entry
  CHANGELOG.md
Due: none

chore: Revert changes to dependency patch
  Cargo.toml
Due: regenerate-charts, cargo-doc, cargo-test

chore: Bump bytes crate to 1.11.1
  Cargo.lock
  Cargo.nix
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

chore: Bump git2 crate to 0.20.4
  Cargo.lock
  Cargo.nix
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

test: Replace Airflow 3.1.5 with 3.1.6
  tests/test-definition.yaml
Due: none

docs: Replace Airflow 3.1.5 with 3.1.6
  docs/modules/airflow/examples/example-airflow-dags-configmap.yaml
  docs/modules/airflow/examples/example-airflow-gitsync-https.yaml
  docs/modules/airflow/examples/example-airflow-incluster.yaml
  docs/modules/airflow/examples/example-airflow-kubernetes-executor-s3-logging.yaml
  docs/modules/airflow/examples/example-airflow-kubernetes-executor-s3-xcom.yaml
  docs/modules/airflow/examples/getting_started/code/airflow.yaml
  docs/modules/airflow/pages/usage-guide/security.adoc
  docs/modules/airflow/partials/supported-versions.adoc
  examples/simple-airflow-cluster-dags-cmap.yaml
  examples/simple-airflow-cluster-ldap-insecure-tls.yaml
  examples/simple-airflow-cluster-ldap.yaml
  examples/simple-airflow-cluster.yaml
Due: none

chore: Replace Airflow 3.1.5 with 3.1.6
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Update changelog
  CHANGELOG.md
Due: none

feat: Add graceful shutdown (#741)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/main.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Bump airflow 3.1.6 (#742)
  CHANGELOG.md
  docs/modules/airflow/examples/example-airflow-dags-configmap.yaml
  docs/modules/airflow/examples/example-airflow-gitsync-https.yaml
  docs/modules/airflow/examples/example-airflow-incluster.yaml
  docs/modules/airflow/examples/example-airflow-kubernetes-executor-s3-logging.yaml
  docs/modules/airflow/examples/example-airflow-kubernetes-executor-s3-xcom.yaml
  docs/modules/airflow/examples/getting_started/code/airflow.yaml
  docs/modules/airflow/pages/usage-guide/security.adoc
  docs/modules/airflow/partials/supported-versions.adoc
  examples/simple-airflow-cluster-dags-cmap.yaml
  examples/simple-airflow-cluster-ldap-insecure-tls.yaml
  examples/simple-airflow-cluster-ldap.yaml
  examples/simple-airflow-cluster.yaml
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/mod.rs
  tests/test-definition.yaml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

adapted tests to use new structs
  extra/crds.yaml
  rust/operator-binary/src/connection.rs
  rust/operator-binary/src/connections/database.rs
  rust/operator-binary/src/connections/mod.rs
  rust/operator-binary/src/connections/queue.rs
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/env_vars.rs
  rust/operator-binary/src/main.rs
  tests/templates/kuttl/cluster-operation/08-install-airflow.yaml.j2
  tests/templates/kuttl/cluster-operation/10-pause-airflow.yaml.j2
  tests/templates/kuttl/cluster-operation/20-stop-airflow.yaml.j2
  tests/templates/kuttl/cluster-operation/30-restart-airflow.yaml.j2
  tests/templates/kuttl/external-access/install-airflow-cluster.yaml.j2
  tests/templates/kuttl/ldap/60-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/logging/41-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/mount-dags-configmap/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/mount-dags-gitsync/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/oidc/install-airflow.yaml.j2
  tests/templates/kuttl/opa/30-install-airflow.yaml.j2
  tests/templates/kuttl/orphaned-resources/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/overrides/10-install-airflow.yaml.j2
  tests/templates/kuttl/overrides/20-install-airflow2.yaml.j2
  tests/templates/kuttl/remote-logging/40-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/resources/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/smoke/40-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/triggerer/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/versioning/30-install-airflow-cluster.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

added some comments
  rust/operator-binary/src/connections/database.rs
  rust/operator-binary/src/connections/queue.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

added test for generic URIs
  extra/crds.yaml
  rust/operator-binary/src/crd/mod.rs
  tests/templates/kuttl/smoke-generic/00-patch-ns.yaml.j2
  tests/templates/kuttl/smoke-generic/00-range-limit.yaml
  tests/templates/kuttl/smoke-generic/10-assert.yaml
  tests/templates/kuttl/smoke-generic/10-install-postgresql.yaml
  tests/templates/kuttl/smoke-generic/20-assert.yaml.j2
  tests/templates/kuttl/smoke-generic/20-install-redis.yaml
  tests/templates/kuttl/smoke-generic/30-assert.yaml.j2
  tests/templates/kuttl/smoke-generic/30-install-vector-aggregator-discovery-configmap.yaml.j2
  tests/templates/kuttl/smoke-generic/40-assert.yaml
  tests/templates/kuttl/smoke-generic/40-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/smoke-generic/50-assert.yaml
  tests/templates/kuttl/smoke-generic/50-install-airflow-python.yaml
  tests/templates/kuttl/smoke-generic/60-assert.yaml.j2
  tests/templates/kuttl/smoke-generic/60-health-check.yaml
  tests/templates/kuttl/smoke-generic/70-assert.yaml.j2
  tests/templates/kuttl/smoke-generic/70-install-metrics-script.yaml
  tests/templates/kuttl/smoke-generic/80-assert.yaml
  tests/templates/kuttl/smoke-generic/helm-bitnami-postgresql-values.yaml.j2
  tests/templates/kuttl/smoke-generic/helm-bitnami-redis-values.yaml.j2
  tests/test-definition.yaml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

typo
  tests/templates/kuttl/logging/41-install-airflow-cluster.yaml.j2
Due: none

code style
  rust/operator-binary/src/connections/database.rs
  rust/operator-binary/src/connections/queue.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

changelog and doc updates
  CHANGELOG.md
  docs/modules/airflow/examples/example-airflow-dags-configmap.yaml
  docs/modules/airflow/examples/example-airflow-incluster.yaml
  docs/modules/airflow/examples/example-airflow-secret.yaml
  docs/modules/airflow/examples/getting_started/code/airflow-credentials.yaml
  docs/modules/airflow/examples/getting_started/code/airflow.yaml
  docs/modules/airflow/pages/usage-guide/logging.adoc
  docs/modules/airflow/pages/usage-guide/storage-resources.adoc
  docs/modules/airflow/pages/usage-guide/using-kubernetes-executors.adoc
  examples/simple-airflow-cluster-dags-cmap.yaml
  examples/simple-airflow-cluster-ldap-insecure-tls.yaml
  examples/simple-airflow-cluster-ldap.yaml
  examples/simple-airflow-cluster.yaml
Due: none

test: Bump OPA to 1.12.3
  tests/test-definition.yaml
Due: none

apply cluster secrets separately and remove assert on generations
  tests/templates/kuttl/smoke-generic/35-assert.yaml
  tests/templates/kuttl/smoke-generic/35-install-airflow-secrets.yaml
  tests/templates/kuttl/smoke-generic/40-assert.yaml
  tests/templates/kuttl/smoke-generic/40-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/smoke/35-assert.yaml
  tests/templates/kuttl/smoke/35-install-airflow-secrets.yaml
  tests/templates/kuttl/smoke/40-assert.yaml.j2
  tests/templates/kuttl/smoke/40-install-airflow-cluster.yaml.j2
  tests/test-definition.yaml
Due: none

docs
  docs/modules/airflow/pages/getting_started/first_steps.adoc
  docs/modules/airflow/pages/usage-guide/db-connect.adoc
  docs/modules/airflow/partials/nav.adoc
Due: none

test: Bump OPA to 1.12.3 (#744)
  tests/test-definition.yaml
Due: none

check secret value
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Update docs/modules/airflow/examples/getting_started/code/airflow.yaml
  docs/modules/airflow/examples/getting_started/code/airflow.yaml
Due: none

Update docs/modules/airflow/pages/usage-guide/db-connect.adoc
  docs/modules/airflow/pages/usage-guide/db-connect.adoc
Due: none

Update rust/operator-binary/src/connections/database.rs
  rust/operator-binary/src/connections/database.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update docs/modules/airflow/pages/getting_started/first_steps.adoc
  docs/modules/airflow/pages/getting_started/first_steps.adoc
Due: none

Update rust/operator-binary/src/connections/queue.rs
  rust/operator-binary/src/connections/queue.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Update tests/templates/kuttl/ldap/60-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/ldap/60-install-airflow-cluster.yaml.j2
Due: none

Update tests/templates/kuttl/logging/41-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/logging/41-install-airflow-cluster.yaml.j2
Due: none

Update tests/templates/kuttl/mount-dags-configmap/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/mount-dags-configmap/30-install-airflow-cluster.yaml.j2
Due: none

Update tests/templates/kuttl/mount-dags-gitsync/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/mount-dags-gitsync/30-install-airflow-cluster.yaml.j2
Due: none

Update tests/templates/kuttl/versioning/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/versioning/30-install-airflow-cluster.yaml.j2
Due: none

Update tests/templates/kuttl/remote-logging/40-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/remote-logging/40-install-airflow-cluster.yaml.j2
Due: none

consistent naming of credentials references, removed unused secret
  docs/modules/airflow/examples/getting_started/code/airflow-credentials.yaml
  docs/modules/airflow/pages/getting_started/first_steps.adoc
  tests/templates/kuttl/versioning/30-install-airflow-cluster.yaml.j2
Due: none
