Repository stackabletech/airflow-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

.pre-commit-config.yaml:

---
exclude: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0 # 6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/EmbarkStudios/cargo-deny
    # Failing to compile cargo-deny with version >0.18.3, needs rust 1.88.0
    rev: 0.18.6 # 0.18.3
    hooks:
      - id: cargo-deny
        args: ["--all-features", "check", "advisories", "bans", "licenses", "sources"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1 # 1.37.1
    hooks:
      - id: yamllint
        args: ["--strict"]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0 # 0.45.0
    hooks:
      - id: markdownlint
        types: [text]
        files: \.md(\.j2)*$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0 # 0.11.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]

  # WARNING (@NickLarsenNZ): Nix users need to install ruff first.
  # If you do not, you will need to delete the cached ruff binary shown in the
  # error message
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7 # 0.14.1
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9 # 1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0 # 2.14.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: regenerate-charts
        name: regenerate-charts
        language: system
        entry: make regenerate-charts
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: regenerate-nix
        name: regenerate-nix
        language: system
        entry: make regenerate-nix
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: Cargo\.lock

      - id: check-readme
        name: check-readme
        language: system
        entry: make render-readme
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: .readme

      - id: cargo-doc
        name: cargo-doc
        language: system
        entry: cargo doc --document-private-items
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-test
        name: cargo-test
        language: system
        entry: cargo test
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        entry: cargo +nightly-2025-10-23 fmt --all -- --check
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        entry: cargo clippy --all-targets -- -D warnings
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@9cbb811001527bb72c1ddc66750bcbdfed6d70a8
  .github/workflows/build.yaml
Due: none

linting, use deploy key
  docs/modules/airflow/examples/example-airflow-gitsync-ssh.yaml
  tests/templates/kuttl/mount-dags-gitsync/30-install-airflow-cluster.yaml.j2
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@3b3b30001bc9eefb7fecf3c3096cdf482f6fb0c6
  .github/workflows/build.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@3b3b30001bc9eefb7fecf3c3096cdf482f6fb0c6 (#720)
  .github/workflows/build.yaml
Due: none

docs: Add usage guide on how to submit some tasks locally instead of k8s
  docs/modules/airflow/pages/usage-guide/using-kubernetes-executors.adoc
Due: none

Apply suggestions from code review
  docs/modules/airflow/pages/usage-guide/using-kubernetes-executors.adoc
Due: none

docs: Add usage guide on how to submit some tasks locally instead of k8s (#723)
  docs/modules/airflow/pages/usage-guide/using-kubernetes-executors.adoc
Due: none

change credentials fields in line with operator-rs
  deploy/helm/airflow-operator/crds/crds.yaml
  docs/modules/airflow/examples/example-airflow-gitsync-https.yaml
  docs/modules/airflow/examples/example-airflow-gitsync-ssh.yaml
  docs/modules/airflow/pages/usage-guide/mounting-dags.adoc
  tests/templates/kuttl/mount-dags-gitsync/30-install-airflow-cluster.yaml.j2
Due: none

removed unsupported db
  docs/modules/airflow/pages/required-external-components.adoc
Due: none

regenerate charts
  deploy/helm/airflow-operator/crds/crds.yaml
Due: none

clarified comment
  docs/modules/airflow/pages/required-external-components.adoc
Due: none

clarified comment again
  docs/modules/airflow/pages/required-external-components.adoc
Due: none

docs: Removed unsupported db (mysql) (#724)
  docs/modules/airflow/pages/required-external-components.adoc
Due: none

bring enum in line with framework definition
  deploy/helm/airflow-operator/crds/crds.yaml
Due: none

bring enum in line with framework definition: correction
  deploy/helm/airflow-operator/crds/crds.yaml
Due: none

missed files
  Cargo.lock
  Cargo.nix
  crate-hashes.json
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

switch gitsync to v2
  Cargo.lock
  Cargo.nix
  crate-hashes.json
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/env_vars.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

wip: airflow versioning
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  deploy/helm/airflow-operator/crds/crds.yaml
  deploy/helm/airflow-operator/templates/deployment.yaml
  deploy/helm/airflow-operator/templates/roles.yaml
  deploy/helm/airflow-operator/templates/service.yaml
  deploy/helm/airflow-operator/values.yaml
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/authorization.rs
  rust/operator-binary/src/crd/internal_secret.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/env_vars.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/operations/pdb.rs
  rust/operator-binary/src/service.rs
  rust/operator-binary/src/webhooks/conversion.rs
  rust/operator-binary/src/webhooks/mod.rs
  tests/templates/kuttl/mount-dags-gitsync/30-install-airflow-cluster.yaml.j2
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

remove version prefix from airflow config
  deploy/helm/airflow-operator/crds/crds.yaml
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

use hint instead of explicit functions
  deploy/helm/airflow-operator/templates/service.yaml
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Add missing label to Deployment
  deploy/helm/airflow-operator/templates/deployment.yaml
Due: none

restore test to v1alpha1
  tests/templates/kuttl/mount-dags-gitsync/30-install-airflow-cluster.yaml.j2
Due: none

added versioning integration test
  tests/templates/kuttl/versioning/00-patch-ns.yaml.j2
  tests/templates/kuttl/versioning/03-assert.yaml
  tests/templates/kuttl/versioning/03-install-postgresql.yaml
  tests/templates/kuttl/versioning/05-assert.yaml.j2
  tests/templates/kuttl/versioning/05-install-vector-aggregator-discovery-configmap.yaml.j2
  tests/templates/kuttl/versioning/10-clusterrole.yaml
  tests/templates/kuttl/versioning/30-assert.yaml.j2
  tests/templates/kuttl/versioning/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/versioning/40-assert.yaml
  tests/templates/kuttl/versioning/40-install-airflow-python.yaml
  tests/templates/kuttl/versioning/50-assert.yaml.j2
  tests/templates/kuttl/versioning/50-health-check.yaml
  tests/templates/kuttl/versioning/60-assert.yaml
  tests/templates/kuttl/versioning/60-install-metrics-script.yaml
  tests/templates/kuttl/versioning/70-assert.yaml.j2
  tests/templates/kuttl/versioning/dag_metrics.py
  tests/templates/kuttl/versioning/helm-bitnami-postgresql-values.yaml.j2
  tests/test-definition.yaml
Due: none

feat: Support objectOverrides
  Cargo.lock
  Cargo.toml
  deploy/helm/airflow-operator/crds/crds.yaml
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/operations/pdb.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

update to newer op-rs
  Cargo.lock
  Cargo.toml
  deploy/helm/airflow-operator/crds/crds.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

changelog
  CHANGELOG.md
Due: none

set API workers to a default fo 1
  docs/modules/airflow/pages/troubleshooting/index.adoc
  rust/operator-binary/src/env_vars.rs
  tests/templates/kuttl/logging/41-install-airflow-cluster.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

nix stuff
  Cargo.nix
  crate-hashes.json
Due: none

Try newer cargo deny
  .pre-commit-config.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@2bd59f09974e5bde1cca110105dfa2fb910e8bf3
  .pre-commit-config.yaml
Due: none

feat: Support objectOverrides (#726)
  .pre-commit-config.yaml
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  deploy/helm/airflow-operator/crds/crds.yaml
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/operations/pdb.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Update rust/operator-binary/src/env_vars.rs
  rust/operator-binary/src/env_vars.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

updated to operator-rs 101.1
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/operations/pdb.rs
  rust/operator-binary/src/webhooks/conversion.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: (re-)set API workers to a default of 1 (#727)
  CHANGELOG.md
  docs/modules/airflow/pages/troubleshooting/index.adoc
  rust/operator-binary/src/env_vars.rs
  tests/templates/kuttl/logging/41-install-airflow-cluster.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Adding support for multiple git-sync repos
  crate-hashes.json
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/env_vars.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Cleaning up
  rust/operator-binary/src/env_vars.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: Downgrade k8s-openapi to 0.26.0 to prevent CRD schema bug
  Cargo.lock
  Cargo.toml
  deploy/helm/airflow-operator/crds/crds.yaml
  rust/operator-binary/Cargo.toml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test
