Repository stackabletech/airflow-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

regenerate-charts:
  name: regenerate-charts
  language: system
  entry: make regenerate-charts
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

regenerate-nix:
  name: regenerate-nix
  language: system
  entry: make regenerate-nix
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

check-readme:
  name: check-readme
  language: system
  entry: make render-readme
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  language: system
  entry: cargo doc --document-private-items
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-test:
  name: cargo-test
  language: system
  entry: cargo test
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-rustfmt:
  name: cargo-rustfmt
  language: system
  entry: cargo +nightly-2025-10-23 fmt --all -- --check
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

fix: Fix various broken links in docs (#779)
  docs/modules/airflow/pages/usage-guide/applying-custom-resources.adoc
  docs/modules/airflow/pages/usage-guide/security.adoc
  docs/modules/airflow/partials/nav.adoc
Due: none

revert one change from cherry-pick
  docs/modules/airflow/partials/nav.adoc
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@ca104d68c598a6c38535f154fc74126342825fc4 (#857)
  .pre-commit-config.yaml
  scripts/check_namespaced_defines.py
Due: none

ci(build): Use newer pinned cargo install action
  .github/workflows/build.yml
Due: none

add constants for container names and deref impl/tests
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/pod.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

replace deref with accessor function
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/pod.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

changelog
  CHANGELOG.md
Due: none

added comment to metrics container
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: make container name accessor infallible (#860)
  CHANGELOG.md
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/pod.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

docs: Add values.schema.json and document the used values
  deploy/helm/airflow-operator/values.schema.json
  deploy/helm/airflow-operator/values.yaml
Due: none

docs: Add values.schema.json and document the used values (#861)
  deploy/helm/airflow-operator/values.schema.json
  deploy/helm/airflow-operator/values.yaml
Due: none

docs: Point the CRD links at the Stackable Hub
  docs/modules/airflow/pages/index.adoc
  docs/modules/airflow/pages/reference/crds.adoc
  docs/modules/airflow/pages/usage-guide/security.adoc
  docs/modules/airflow/partials/nav.adoc
Due: none

feat: Support floating tag in product image selection
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/Cargo.toml
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/main.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Add changelog entry
  CHANGELOG.md
Due: none

chore: Improve and add changelog entries
  CHANGELOG.md
Due: none

chore: Bump rustls to 0.23.45 to negate RUSTSEC-2026-0285
  Cargo.lock
  Cargo.nix
  crate-hashes.json
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

fix: remove driver log pulling from sensor example
  docs/modules/airflow/examples/example_spark_kubernetes_sensor.py
  docs/modules/airflow/pages/usage-guide/applying-custom-resources.adoc
Due: none

feat: Support floating tag in product image selection (#862)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/Cargo.toml
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/main.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Update docs/modules/airflow/pages/usage-guide/applying-custom-resources.adoc
  docs/modules/airflow/pages/usage-guide/applying-custom-resources.adoc
Due: none

fix: remove driver log pulling from SparkKubernetesSensor example (#863)
  docs/modules/airflow/examples/example_spark_kubernetes_sensor.py
  docs/modules/airflow/pages/usage-guide/applying-custom-resources.adoc
Due: none

chore: Bump to version 3.3.1
  docs/modules/airflow/examples/example-airflow-dag-bundles.yaml
  docs/modules/airflow/examples/example-airflow-dags-configmap.yaml
  docs/modules/airflow/examples/example-airflow-gitsync-https.yaml
  docs/modules/airflow/examples/example-airflow-incluster.yaml
  docs/modules/airflow/examples/example-airflow-kubernetes-executor-s3-logging.yaml
  docs/modules/airflow/examples/example-airflow-kubernetes-executor-s3-xcom.yaml
  docs/modules/airflow/examples/getting_started/code/airflow.yaml
  docs/modules/airflow/pages/usage-guide/security.adoc
  docs/modules/airflow/partials/supported-versions.adoc
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/properties/env_vars.rs
  rust/operator-binary/src/controller/build/properties/product_logging/mod.rs
  rust/operator-binary/src/controller/build/properties/webserver_config.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/mod.rs
  tests/templates/kuttl/commons/metrics.py
  tests/templates/kuttl/triggerer/triggerer_metrics.py
  tests/test-definition.yaml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

updated postgres supported versions
  docs/modules/airflow/pages/required-external-components.adoc
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@c9aa93ceceaa1bab213fe5862f34165613152e92
  .github/workflows/build.yaml
  .github/workflows/integration-test-custom.yaml
  .github/workflows/integration-test-profile.yaml
  .github/workflows/pr_prek.yaml
  .pre-commit-config.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@c9aa93ceceaa1bab213fe5862f34165613152e92 (#866)
  .github/workflows/build.yaml
  .github/workflows/integration-test-custom.yaml
  .github/workflows/integration-test-profile.yaml
  .github/workflows/pr_prek.yaml
  .pre-commit-config.yaml
Due: none

chore: Bump to version 3.3.1 (#865)
  CHANGELOG.md
  docs/modules/airflow/examples/example-airflow-dag-bundles.yaml
  docs/modules/airflow/examples/example-airflow-dags-configmap.yaml
  docs/modules/airflow/examples/example-airflow-gitsync-https.yaml
  docs/modules/airflow/examples/example-airflow-incluster.yaml
  docs/modules/airflow/examples/example-airflow-kubernetes-executor-s3-logging.yaml
  docs/modules/airflow/examples/example-airflow-kubernetes-executor-s3-xcom.yaml
  docs/modules/airflow/examples/getting_started/code/airflow.yaml
  docs/modules/airflow/pages/required-external-components.adoc
  docs/modules/airflow/pages/usage-guide/security.adoc
  docs/modules/airflow/partials/supported-versions.adoc
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/properties/env_vars.rs
  rust/operator-binary/src/controller/build/properties/product_logging/mod.rs
  rust/operator-binary/src/controller/build/properties/webserver_config.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/mod.rs
  tests/templates/kuttl/commons/metrics.py
  tests/templates/kuttl/triggerer/triggerer_metrics.py
  tests/test-definition.yaml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: Flatten role configs
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/properties/env_vars.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/trusted_proxies.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

feat: Add ready endpoint to operator deployment
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/webhooks/conversion.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

add changelog entry
  CHANGELOG.md
Due: none

renamings
  rust/operator-binary/src/main.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@0be51a185b6d9e66b70f720444ee83f41b2184a2
  .github/workflows/integration-test-custom.yaml
  .github/workflows/integration-test-profile.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@0be51a185b6d9e66b70f720444ee83f41b2184a2 (#869)
  .github/workflows/integration-test-custom.yaml
  .github/workflows/integration-test-profile.yaml
Due: none

feat: Add `/ready` endpoint to operator deployment (#868)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/webhooks/conversion.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

docs: Replace spark classes with demo reference
  docs/modules/airflow/examples/example_spark_kubernetes_operator.py
  docs/modules/airflow/examples/example_spark_kubernetes_sensor.py
  docs/modules/airflow/pages/usage-guide/applying-custom-resources.adoc
Due: none

docs: Replace spark classes with demo reference (#870)
  CHANGELOG.md
  docs/modules/airflow/examples/example_spark_kubernetes_operator.py
  docs/modules/airflow/examples/example_spark_kubernetes_sensor.py
  docs/modules/airflow/pages/usage-guide/applying-custom-resources.adoc
Due: none

corrections
  docs/modules/airflow/examples/example-spark-dag.py
  docs/modules/airflow/pages/usage-guide/applying-custom-resources.adoc
Due: none

corrections (#871)
  docs/modules/airflow/examples/example-spark-dag.py
  docs/modules/airflow/pages/usage-guide/applying-custom-resources.adoc
Due: none

docs: Point the CRD links at the Stackable Hub (#864)
  docs/modules/airflow/pages/index.adoc
  docs/modules/airflow/pages/reference/crds.adoc
  docs/modules/airflow/pages/usage-guide/security.adoc
  docs/modules/airflow/partials/nav.adoc
Due: none

Path conditions:
  regenerate-charts: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  regenerate-nix: any of: Cargo\.lock, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  check-readme: any of: .readme, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-doc: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-test: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-rustfmt: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-clippy: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
