Repository stackabletech/airflow-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

regenerate-charts:
  name: regenerate-charts
  language: system
  entry: make regenerate-charts
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

regenerate-nix:
  name: regenerate-nix
  language: system
  entry: make regenerate-nix
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

check-readme:
  name: check-readme
  language: system
  entry: make render-readme
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  language: system
  entry: cargo doc --document-private-items
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-test:
  name: cargo-test
  language: system
  entry: cargo test
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-rustfmt:
  name: cargo-rustfmt
  language: system
  entry: cargo +nightly-2025-10-23 fmt --all -- --check
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

docs(getting_started): Bump to Airflow 3.2.1
  docs/modules/airflow/examples/getting_started/code/airflow.yaml
Due: none

docs: Bump postgres requirement to 17
  docs/modules/airflow/pages/required-external-components.adoc
Due: none

revert(nix): Restore shell.nix
  shell.nix
Due: none

feat: Add Airflow 3.2.1 (#803)
  docs/modules/airflow/examples/getting_started/code/airflow.yaml
  docs/modules/airflow/pages/required-external-components.adoc
  docs/modules/airflow/partials/supported-versions.adoc
  tests/templates/kuttl/cluster-operation/09-assert.yaml
  tests/templates/kuttl/cluster-operation/31-assert.yaml
  tests/templates/kuttl/commons/metrics.py
  tests/templates/kuttl/logging/41-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/triggerer/triggerer_metrics.py
  tests/test-definition.yaml
Due: none

refactor: remove rolegroupref (1 leftover)
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/config_map.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: move graceful shutdown to controller/build
  rust/operator-binary/src/controller/build/graceful_shutdown.rs
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/operations/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: move stateful set and helpers to build/resource
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/resource/mod.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: remove more raw cluster references
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: move pdbs to build and return rather than mutate
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/resource/mod.rs
  rust/operator-binary/src/controller/build/resource/pdb.rs
  rust/operator-binary/src/operations/mod.rs
  rust/operator-binary/src/operations/pdb.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: switch to v2 logging, add vector test
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/config_map.rs
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/properties/mod.rs
  rust/operator-binary/src/controller/build/properties/product_logging/mod.rs
  rust/operator-binary/src/controller/build/properties/product_logging/test-vector.sh
  rust/operator-binary/src/controller/build/properties/product_logging/vector-test.yaml
  rust/operator-binary/src/controller/build/properties/product_logging/vector.yaml
  rust/operator-binary/src/main.rs
  tests/templates/kuttl/smoke/40-assert.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: remove raw cluster references
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/env_vars.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: make add_config return instead of mutate
  rust/operator-binary/src/config/mod.rs
  rust/operator-binary/src/config/webserver_config.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: move listener to build/resource
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/resource/listener.rs
  rust/operator-binary/src/controller/build/resource/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix(test): add vector aggregator to opa-interop test
  tests/templates/kuttl/opa-interop/12-assert.yaml.j2
  tests/templates/kuttl/opa-interop/12-install-vector-aggregator-discovery-configmap.yaml.j2
Due: none

refactor: move service to build/resource
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/resource/mod.rs
  rust/operator-binary/src/controller/build/resource/service.rs
  rust/operator-binary/src/main.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: consolidated graceful shutdown, added db conenection details to ValidatedClusterConfig
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/env_vars.rs
  rust/operator-binary/src/operations/graceful_shutdown.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: add dags_git_sync to ValidatedClusterConfig
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: merge and move webserver config & envars to controller/build
  rust/operator-binary/src/config/webserver_config.rs
  rust/operator-binary/src/controller/build/config_map.rs
  rust/operator-binary/src/controller/build/properties/env_vars.rs
  rust/operator-binary/src/controller/build/properties/mod.rs
  rust/operator-binary/src/controller/build/properties/webserver_config.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/main.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: dedup secret name helper
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/env_vars.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: switch to v2 metrics name helper
  rust/operator-binary/src/controller/build/resource/service.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: move executor to controller/build
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/mod.rs
  rust/operator-binary/src/controller/build/resource/pod.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: validate logging upfront
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/config_map.rs
  rust/operator-binary/src/controller/build/properties/product_logging/mod.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: use ConfigMapName, SecretName, ListenerName in CRD
  extra/crds.yaml
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/properties/env_vars.rs
  rust/operator-binary/src/controller/build/resource/listener.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/util.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Replace Airflow 3.2.1 with 3.2.2
  docs/modules/airflow/examples/getting_started/code/airflow.yaml
  docs/modules/airflow/partials/supported-versions.adoc
  tests/test-definition.yaml
Due: none

chore: Replace Airflow 3.2.1 with 3.2.2 (#805)
  docs/modules/airflow/examples/getting_started/code/airflow.yaml
  docs/modules/airflow/partials/supported-versions.adoc
  tests/test-definition.yaml
Due: none

chore: switch to stackable-operator main branch
  Cargo.lock
  Cargo.toml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

chore: adapt to op-rs changes
  rust/operator-binary/src/controller/build/resource/service.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: revert rolegroup length changes
  tests/templates/kuttl/resources/30-assert.yaml.j2
  tests/templates/kuttl/resources/30-install-airflow-cluster.yaml.j2
Due: none

refactor: use VolumeName and Port types
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/pod.rs
  rust/operator-binary/src/controller/build/resource/service.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller_commons.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: migrate to new container builder
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: migrate to listener volume source builder
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: add ValidatedCluster object meta helper
  rust/operator-binary/src/controller/build/config_map.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/listener.rs
  rust/operator-binary/src/controller/build/resource/service.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: add namespace / uid to ValidatedCluster
  rust/operator-binary/src/controller/build/properties/env_vars.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: introduce ValidatedAirflowConfig, fold logging
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/controller_commons.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: consolidate executor build merging
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/properties/env_vars.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: consolidate configmap to resource folder, move controller commons to build
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/resource/config_map.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/mod.rs
  rust/operator-binary/src/controller/build/resource/pod.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/build/volumes.rs
  rust/operator-binary/src/main.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: use upstream STACKABLE_LOG_DIR
  rust/operator-binary/src/controller/build/properties/env_vars.rs
  rust/operator-binary/src/controller/build/resource/config_map.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: introduce ConfigFileName enum
  rust/operator-binary/src/controller/build/properties/env_vars.rs
  rust/operator-binary/src/controller/build/properties/mod.rs
  rust/operator-binary/src/controller/build/properties/product_logging/mod.rs
  rust/operator-binary/src/controller/build/resource/config_map.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore regenerate
  Cargo.nix
  crate-hashes.json
Due: none

chore: bump stackable-operator 0.111.1 -> 0.112.0, tokio 1.40 -> 1.52, clap 4.5 -> 4.6
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

Path conditions:
  regenerate-charts: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  regenerate-nix: any of: Cargo\.lock, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  check-readme: any of: .readme, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-doc: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-test: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-rustfmt: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-clippy: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
