Repository stackabletech/airflow-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

.pre-commit-config.yaml:

---
exclude: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0 # 6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/EmbarkStudios/cargo-deny
    # Failing to compile cargo-deny with version >0.18.3, needs rust 1.88.0
    rev: 0.18.6 # 0.18.3
    hooks:
      - id: cargo-deny
        args: ["--all-features", "check", "advisories", "bans", "licenses", "sources"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1 # 1.37.1
    hooks:
      - id: yamllint
        args: ["--strict"]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0 # 0.45.0
    hooks:
      - id: markdownlint
        types: [text]
        files: \.md(\.j2)*$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0 # 0.11.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]

  # WARNING (@NickLarsenNZ): Nix users need to install ruff first.
  # If you do not, you will need to delete the cached ruff binary shown in the
  # error message
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7 # 0.14.1
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9 # 1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0 # 2.14.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: regenerate-charts
        name: regenerate-charts
        language: system
        entry: make regenerate-charts
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: regenerate-nix
        name: regenerate-nix
        language: system
        entry: make regenerate-nix
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: Cargo\.lock

      - id: check-readme
        name: check-readme
        language: system
        entry: make render-readme
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: .readme

      - id: cargo-doc
        name: cargo-doc
        language: system
        entry: cargo doc --document-private-items
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-test
        name: cargo-test
        language: system
        entry: cargo test
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        entry: cargo +nightly-2025-10-23 fmt --all -- --check
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        entry: cargo clippy --all-targets -- -D warnings
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

chore: Describe RBAC rules, remove unnecessary rules (#767)
  CHANGELOG.md
  Cargo.nix
  crate-hashes.json
  deploy/helm/airflow-operator/templates/clusterrole-operator.yaml
  deploy/helm/airflow-operator/templates/clusterrole-product.yaml
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@2428552dc3a822ace7e57f2eae68433be7a5fa5e
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_pre-commit.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@2428552dc3a822ace7e57f2eae68433be7a5fa5e (#768)
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_pre-commit.yaml
Due: none

chore: construct roles vector via map
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: construct roles vector via map (#766)
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Bump op-rs
  extra/crds.yaml
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/config.rs
  rust/operator-binary/src/crd/authentication.rs
  rust/operator-binary/src/crd/databases.rs
  rust/operator-binary/src/env_vars.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Impl Deref for database connection enums
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/crd/databases.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: do not make internal secrets immutable
  CHANGELOG.md
  rust/operator-binary/src/crd/internal_secret.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

bump op-rs version
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

rustfmt
  rust/operator-binary/src/config.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: migrate immutable internal secrets to mutable versions
  CHANGELOG.md
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/crd/internal_secret.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

feat: support setting clientAuthenticationMethod for OIDC (#765)
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/config.rs
  rust/operator-binary/src/crd/authentication.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

cleanup
  Cargo.lock
  Cargo.nix
  Cargo.toml
  rust/operator-binary/Cargo.toml
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/crd/internal_secret.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

more cleanup
  Cargo.lock
  Cargo.nix
  Cargo.toml
  rust/operator-binary/Cargo.toml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

fix: use mutable Kubernetes Secret objects for internal secrets (#770)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  rust/operator-binary/Cargo.toml
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/crd/internal_secret.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: changelog
  CHANGELOG.md
Due: none

chore: changelog (#771)
  CHANGELOG.md
Due: none

helm: build and publish for multiple repositories
  Makefile
  deploy/helm/airflow-operator/README.md
  deploy/helm/airflow-operator/templates/_helpers.tpl
  deploy/helm/airflow-operator/templates/deployment.yaml
  deploy/helm/airflow-operator/values.registry-oci.yaml
  deploy/helm/airflow-operator/values.registry-quay.yaml
  deploy/helm/airflow-operator/values.yaml
Due: none

update readme
  deploy/helm/airflow-operator/README.md
Due: none

switch to unprivileged nginx so test runs on openshift
  tests/templates/kuttl/ca-cert/20-nginx-proxy.yaml
Due: none

feat: Git sync - add first class support for CAs (#750)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  docs/modules/airflow/examples/example-airflow-gitsync-https.yaml
  docs/modules/airflow/pages/usage-guide/mounting-dags.adoc
  rust/operator-binary/src/airflow_controller.rs
  tests/templates/kuttl/ca-cert/00-patch-ns.yaml.j2
  tests/templates/kuttl/ca-cert/00-rbac.yaml.j2
  tests/templates/kuttl/ca-cert/03-assert.yaml
  tests/templates/kuttl/ca-cert/03-install-postgresql.yaml
  tests/templates/kuttl/ca-cert/05-assert.yaml.j2
  tests/templates/kuttl/ca-cert/05-install-vector-aggregator-discovery-configmap.yaml.j2
  tests/templates/kuttl/ca-cert/15-assert.yaml
  tests/templates/kuttl/ca-cert/15-create-ca-cert.yaml
  tests/templates/kuttl/ca-cert/15-secrets.yaml
  tests/templates/kuttl/ca-cert/20-nginx-proxy.yaml
  tests/templates/kuttl/ca-cert/25-assert.yaml
  tests/templates/kuttl/ca-cert/25-install-airflow-wrong-cert.yaml
  tests/templates/kuttl/ca-cert/25_airflow-wrong-cert.yaml.j2
  tests/templates/kuttl/ca-cert/30-assert.yaml.j2
  tests/templates/kuttl/ca-cert/30-install-airflow-cluster.yaml
  tests/templates/kuttl/ca-cert/30_airflow-cluster.yaml.j2
  tests/templates/kuttl/ca-cert/31-assert.yaml
  tests/templates/kuttl/ca-cert/40-assert.yaml
  tests/templates/kuttl/ca-cert/40-install-airflow-python.yaml
  tests/templates/kuttl/ca-cert/50-assert.yaml.j2
  tests/templates/kuttl/ca-cert/50-health-check.yaml
  tests/templates/kuttl/ca-cert/helm-bitnami-postgresql-values.yaml.j2
  tests/templates/kuttl/mount-dags-gitsync/30-install-airflow-cluster.yaml.j2
  tests/test-definition.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

ci: Merge registry specific Helm values
  .github/workflows/build.yaml
  deploy/helm/airflow-operator/.helmignore
  deploy/helm/airflow-operator/values.yaml
  deploy/helm/airflow-operator/values/oci.stackable.tech.yaml
Due: none

chore(helm): Add operator.image template helper
  deploy/helm/airflow-operator/templates/_helpers.tpl
  deploy/helm/airflow-operator/templates/deployment.yaml
Due: none

feat(helm): Set image registry and repository env vars on Deployment
  Tiltfile
  deploy/helm/airflow-operator/templates/deployment.yaml
Due: none

chore(helm): Add helm-install command to Makefile
  Makefile
Due: none

chore: Remove unused RBAC permission for product role
  deploy/helm/airflow-operator/templates/clusterrole-product.yaml
Due: none

ci: Also publish to quay.io
  .github/workflows/build.yaml
Due: none

chore(helm): Add quay.io specific values file
  deploy/helm/airflow-operator/values/quay.io.yaml
Due: none

chore: Update changelog
  CHANGELOG.md
Due: none

chore: Remove unused RBAC permission for product role (#774)
  CHANGELOG.md
  deploy/helm/airflow-operator/templates/clusterrole-product.yaml
Due: none

ci: Use newer action versions
  .github/workflows/build.yaml
Due: none

chore: Upgrade stackable-operator to 0.110.0
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/config.rs
  rust/operator-binary/src/crd/authentication.rs
  rust/operator-binary/src/crd/authorization.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/service.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@d8c4b88106c95760340b425089d9da8232d69af4
  deny.toml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@d8c4b88106c95760340b425089d9da8232d69af4 (#776)
  deny.toml
Due: none

chore: CRDs / nix
  Cargo.lock
  Cargo.nix
  extra/crds.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

chore: fix rustfmt and clippy type_complexity lint
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/config.rs
  rust/operator-binary/src/crd/authentication.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Upgrade stackable-operator to 0.110.1
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/config.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Add AirflowExecutorCommonConfiguration type alias
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: cargo fmt
  rust/operator-binary/src/airflow_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Upgrade stackable-operator to 0.110.1 (#775)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/config.rs
  rust/operator-binary/src/crd/authentication.rs
  rust/operator-binary/src/crd/authorization.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/service.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy
