Repository stackabletech/airflow-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

regenerate-charts:
  name: regenerate-charts
  language: system
  entry: make regenerate-charts
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

regenerate-nix:
  name: regenerate-nix
  language: system
  entry: make regenerate-nix
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

check-readme:
  name: check-readme
  language: system
  entry: make render-readme
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  language: system
  entry: cargo doc --document-private-items
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-test:
  name: cargo-test
  language: system
  entry: cargo test
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-rustfmt:
  name: cargo-rustfmt
  language: system
  entry: cargo +nightly-2025-10-23 fmt --all -- --check
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

chore: Switch secret-operator volume to ephemeral
  examples/simple-airflow-cluster-ldap-insecure-tls.yaml
  examples/simple-airflow-cluster-ldap.yaml
  tests/templates/kuttl/ldap/30-install-openldap.yaml.j2
  tests/templates/kuttl/oidc/50-install-test-container.yaml.j2
  tests/templates/kuttl/oidc/install-keycloak.yaml.j2
  tests/templates/kuttl/opa/40-install-test-container.yaml.j2
Due: none

makeing pre-commit happy
  rust/operator-binary/src/env_vars.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Switch secret-operator volume to ephemeral (#731)
  examples/simple-airflow-cluster-ldap-insecure-tls.yaml
  examples/simple-airflow-cluster-ldap.yaml
  tests/templates/kuttl/ldap/30-install-openldap.yaml.j2
  tests/templates/kuttl/oidc/50-install-test-container.yaml.j2
  tests/templates/kuttl/oidc/install-keycloak.yaml.j2
  tests/templates/kuttl/opa/40-install-test-container.yaml.j2
Due: none

regenerate nix and charts
  Cargo.nix
  deploy/helm/airflow-operator/crds/crds.yaml
Due: none

update branch commit refs
  Cargo.lock
  Cargo.nix
  crate-hashes.json
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

regenerate nix
  Cargo.nix
Due: none

fix: Downgrade k8s-openapi to 0.26.0 to prevent CRD schema bug (#730)
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/airflow-operator/crds/crds.yaml
  rust/operator-binary/Cargo.toml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

bump operator-rs, minor test fixes
  Cargo.toml
  tests/templates/kuttl/versioning/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/versioning/dag_metrics.py
Due: regenerate-charts, cargo-doc, cargo-test

remove standalone dag-processor role due to race condition
  tests/templates/kuttl/versioning/30-install-airflow-cluster.yaml.j2
Due: none

chore: use new testing-tools image
  tests/templates/kuttl/ldap/70-install-airflow-python.yaml
  tests/templates/kuttl/logging/50-install-airflow-python.yaml
  tests/templates/kuttl/mount-dags-configmap/40-install-airflow-python.yaml
  tests/templates/kuttl/mount-dags-gitsync/40-install-airflow-python.yaml
  tests/templates/kuttl/oidc/50-install-test-container.yaml.j2
  tests/templates/kuttl/opa/40-install-test-container.yaml.j2
  tests/templates/kuttl/remote-logging/50-install-airflow-python.yaml
  tests/templates/kuttl/smoke/50-install-airflow-python.yaml
  tests/templates/kuttl/triggerer/40-install-airflow-python.yaml
Due: none

chore: changelog
  CHANGELOG.md
Due: none

chore: use new testing-tools image (#733)
  CHANGELOG.md
  tests/templates/kuttl/ldap/70-install-airflow-python.yaml
  tests/templates/kuttl/logging/50-install-airflow-python.yaml
  tests/templates/kuttl/mount-dags-configmap/40-install-airflow-python.yaml
  tests/templates/kuttl/mount-dags-gitsync/40-install-airflow-python.yaml
  tests/templates/kuttl/oidc/50-install-test-container.yaml.j2
  tests/templates/kuttl/opa/40-install-test-container.yaml.j2
  tests/templates/kuttl/remote-logging/50-install-airflow-python.yaml
  tests/templates/kuttl/smoke/50-install-airflow-python.yaml
  tests/templates/kuttl/triggerer/40-install-airflow-python.yaml
Due: none

review feedback
  deploy/helm/airflow-operator/templates/deployment.yaml
  deploy/helm/airflow-operator/templates/roles.yaml
Due: none

adjust makefile and tiltfile for crd treatment
  Makefile
  Tiltfile
  extra/crds.yaml
Due: none

fix: Prevent unnecessary Pod restarts by applying StatefulSet last
  CHANGELOG.md
  rust/operator-binary/src/airflow_controller.rs
  tests/templates/kuttl/smoke/40-assert.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

changelog
  CHANGELOG.md
Due: none

fix: Prevent unnecessary Pod restarts by applying StatefulSet last (#734)
  CHANGELOG.md
  rust/operator-binary/src/airflow_controller.rs
  tests/templates/kuttl/smoke/40-assert.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

remove now-redundant crd file
  deploy/helm/airflow-operator/crds/crds.yaml
Due: none

revert version changes
  .pre-commit-config.yaml
Due: none

test: Bump opa to 1.12.2
  tests/test-definition.yaml
Due: none

test: Bump vector aggregator to 0.52.0 (chart version 0.49.0)
  tests/templates/kuttl/logging/30-install-airflow-vector-aggregator.yaml
Due: none

fix: Remove local changes
  tests/test-definition.yaml
Due: none

test: Bump vector 0.52.0 and opa 1.12.2 (#735)
  tests/templates/kuttl/logging/30-install-airflow-vector-aggregator.yaml
  tests/test-definition.yaml
Due: none

test: Improve assertion on restart-controller
  tests/templates/kuttl/smoke/40-assert.yaml.j2
Due: none

test: Improve assertion on restart-controller (#736)
  tests/templates/kuttl/smoke/40-assert.yaml.j2
Due: none

bump operator-rs to 0.103.0
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

fix: Remove AUTH_OID import from Python imports
  rust/operator-binary/src/config.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Update Airflow version from 3.0.6 to 3.1.5
  docs/modules/airflow/examples/example-airflow-dags-configmap.yaml
  docs/modules/airflow/examples/example-airflow-gitsync.yaml
  docs/modules/airflow/examples/example-airflow-incluster.yaml
  docs/modules/airflow/examples/example-airflow-kubernetes-executor-s3-logging.yaml
  docs/modules/airflow/examples/example-airflow-kubernetes-executor-s3-xcom.yaml
  docs/modules/airflow/examples/getting_started/code/airflow.yaml
  docs/modules/airflow/pages/usage-guide/security.adoc
  examples/simple-airflow-cluster-dags-cmap.yaml
  examples/simple-airflow-cluster-ldap-insecure-tls.yaml
  examples/simple-airflow-cluster-ldap.yaml
  examples/simple-airflow-cluster.yaml
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

test: Add 3.1.5, remove 2.10.5 and 3.0.1 from test definition
  tests/test-definition.yaml
Due: none

chore: Adjust comments in test definition
  tests/test-definition.yaml
Due: none

docs: Update supported versions
  docs/modules/airflow/partials/supported-versions.adoc
Due: none

add docs and add dag-processor role to check changed DAG
  docs/modules/airflow/pages/troubleshooting/index.adoc
  tests/templates/kuttl/mount-dags-gitsync/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/versioning/30-install-airflow-cluster.yaml.j2
Due: none

add docs and add dag-processor role to check changed DAG (#738)
  docs/modules/airflow/pages/troubleshooting/index.adoc
  tests/templates/kuttl/mount-dags-gitsync/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/versioning/30-install-airflow-cluster.yaml.j2
Due: none

chore: Add 3.1.5, remove 2.10.5 and 3.0.1 (#737)
  docs/modules/airflow/examples/example-airflow-dags-configmap.yaml
  docs/modules/airflow/examples/example-airflow-gitsync-https.yaml
  docs/modules/airflow/examples/example-airflow-incluster.yaml
  docs/modules/airflow/examples/example-airflow-kubernetes-executor-s3-logging.yaml
  docs/modules/airflow/examples/example-airflow-kubernetes-executor-s3-xcom.yaml
  docs/modules/airflow/examples/getting_started/code/airflow.yaml
  docs/modules/airflow/pages/usage-guide/security.adoc
  docs/modules/airflow/partials/supported-versions.adoc
  examples/simple-airflow-cluster-dags-cmap.yaml
  examples/simple-airflow-cluster-ldap-insecure-tls.yaml
  examples/simple-airflow-cluster-ldap.yaml
  examples/simple-airflow-cluster.yaml
  rust/operator-binary/src/config.rs
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/mod.rs
  tests/test-definition.yaml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fixed logs url
  tests/templates/kuttl/external-access/50-assert.yaml.j2
  tests/templates/kuttl/ldap/95-assert.yaml.j2
  tests/templates/kuttl/logging/70-assert.yaml.j2
  tests/templates/kuttl/mount-dags-configmap/70-assert.yaml.j2
  tests/templates/kuttl/mount-dags-gitsync/70-assert.yaml.j2
  tests/templates/kuttl/smoke/80-assert.yaml.j2
  tests/templates/kuttl/triggerer/70-assert.yaml.j2
  tests/templates/kuttl/versioning/70-assert.yaml.j2
Due: none

wip
  rust/operator-binary/src/connections/database.rs
  rust/operator-binary/src/connections/mod.rs
  rust/operator-binary/src/connections/queue.rs
  tests/templates/kuttl/versioning/30-install-airflow-cluster.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

correction
  tests/templates/kuttl/mount-dags-configmap/70-assert.yaml.j2
Due: none

Adding check if cm is mounted into core folder, if omit mkdir
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/env_vars.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

added initial tests
  extra/crds.yaml
  rust/operator-binary/src/connections/database.rs
  rust/operator-binary/src/connections/mod.rs
  rust/operator-binary/src/connections/queue.rs
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/main.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Path conditions:
  regenerate-charts: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  regenerate-nix: any of: Cargo\.lock, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  check-readme: any of: .readme, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-doc: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-test: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-rustfmt: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-clippy: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
