Repository stackabletech/airflow-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

regenerate-charts:
  name: regenerate-charts
  language: system
  entry: make regenerate-charts
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

regenerate-nix:
  name: regenerate-nix
  language: system
  entry: make regenerate-nix
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

check-readme:
  name: check-readme
  language: system
  entry: make render-readme
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  language: system
  entry: cargo doc --document-private-items
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-test:
  name: cargo-test
  language: system
  entry: cargo test
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-rustfmt:
  name: cargo-rustfmt
  language: system
  entry: cargo +nightly-2025-10-23 fmt --all -- --check
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

feat: Add affinity to OPA Pods
  CHANGELOG.md
  docs/modules/airflow/pages/usage-guide/operations/pod-placement.adoc
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Updating Changelog
  CHANGELOG.md
Due: none

Update docs/modules/airflow/pages/usage-guide/operations/pod-placement.adoc
  docs/modules/airflow/pages/usage-guide/operations/pod-placement.adoc
Due: none

feat: Add affinity to OPA Pods (#872)
  CHANGELOG.md
  docs/modules/airflow/pages/usage-guide/operations/pod-placement.adoc
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

use infallible webserver_role_group_listener_name in place of group_listener_name
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@660d65e2f674d2893531f3b91eb5a921beb7e7af
  deploy/helm/airflow-operator/templates/deployment.yaml
Due: none

refactor: Flatten role configs (#867)
  CHANGELOG.md
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/properties/env_vars.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/trusted_proxies.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@660d65e2f674d2893531f3b91eb5a921beb7e7af (#873)
  deploy/helm/airflow-operator/templates/deployment.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@0f53eecffba74cfb96c8d4635c656edb20a3ac85
  .pre-commit-config.yaml
Due: none

chore: Add typos.toml and fix spelling findings
  docs/modules/airflow/pages/getting_started/first_steps.adoc
  docs/modules/airflow/pages/reference/crds.adoc
  docs/modules/airflow/pages/required-external-components.adoc
  docs/modules/airflow/pages/troubleshooting/index.adoc
  docs/modules/airflow/pages/usage-guide/mounting-dags.adoc
  typos.toml
Due: none

feat: Rollout crate/typos for operators (#874)
  .pre-commit-config.yaml
  docs/modules/airflow/pages/getting_started/first_steps.adoc
  docs/modules/airflow/pages/reference/crds.adoc
  docs/modules/airflow/pages/required-external-components.adoc
  docs/modules/airflow/pages/troubleshooting/index.adoc
  docs/modules/airflow/pages/usage-guide/mounting-dags.adoc
  typos.toml
Due: none

chore: remove CRD wait workaround from getting started script
  docs/modules/airflow/examples/getting_started/code/getting_started.sh
  docs/modules/airflow/examples/getting_started/code/getting_started.sh.j2
Due: none

chore: remove CRD wait workaround from getting started script (#875)
  docs/modules/airflow/examples/getting_started/code/getting_started.sh
  docs/modules/airflow/examples/getting_started/code/getting_started.sh.j2
Due: none

chore: Bump vector aggregator to 0.58.0
  tests/templates/kuttl/logging/30-install-airflow-vector-aggregator.yaml
Due: none

chore: Update changelog
  CHANGELOG.md
Due: none

chore: Bump vector aggregator to 0.58.0 (#876)
  CHANGELOG.md
  tests/templates/kuttl/logging/30-install-airflow-vector-aggregator.yaml
Due: none

update cargo.lock
  Cargo.lock
  Cargo.nix
  crate-hashes.json
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@fb924df5c043cc95473cd38e6edb187b6e675b0e
  deploy/helm/airflow-operator/Chart.yaml
  deploy/helm/airflow-operator/templates/_telemetry.tpl
  deploy/helm/airflow-operator/templates/deployment.yaml
  nix/meta.json
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@fb924df5c043cc95473cd38e6edb187b6e675b0e (#877)
  deploy/helm/airflow-operator/Chart.yaml
  deploy/helm/airflow-operator/templates/_telemetry.tpl
  deploy/helm/airflow-operator/templates/deployment.yaml
  nix/meta.json
Due: none

Path conditions:
  regenerate-charts: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  regenerate-nix: any of: Cargo\.lock, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  check-readme: any of: .readme, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-doc: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-test: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-rustfmt: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-clippy: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
