Repository stackabletech/airflow-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

.pre-commit-config.yaml:

---
exclude: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0 # 6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/EmbarkStudios/cargo-deny
    # Failing to compile cargo-deny with version >0.18.3, needs rust 1.88.0
    rev: 0.18.6 # 0.18.3
    hooks:
      - id: cargo-deny
        args: ["--all-features", "check", "advisories", "bans", "licenses", "sources"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1 # 1.37.1
    hooks:
      - id: yamllint
        args: ["--strict"]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0 # 0.45.0
    hooks:
      - id: markdownlint
        types: [text]
        files: \.md(\.j2)*$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0 # 0.11.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]

  # WARNING (@NickLarsenNZ): Nix users need to install ruff first.
  # If you do not, you will need to delete the cached ruff binary shown in the
  # error message
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7 # 0.14.1
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9 # 1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0 # 2.14.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: regenerate-charts
        name: regenerate-charts
        language: system
        entry: make regenerate-charts
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: regenerate-nix
        name: regenerate-nix
        language: system
        entry: make regenerate-nix
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: Cargo\.lock

      - id: check-readme
        name: check-readme
        language: system
        entry: make render-readme
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: .readme

      - id: cargo-doc
        name: cargo-doc
        language: system
        entry: cargo doc --document-private-items
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-test
        name: cargo-test
        language: system
        entry: cargo test
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        entry: cargo +nightly-2025-10-23 fmt --all -- --check
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        entry: cargo clippy --all-targets -- -D warnings
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

fix: Fix broken link in documentation (#783)
  docs/modules/airflow/pages/index.adoc
Due: none

fix: remove obsolete errors
  rust/operator-binary/src/airflow_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: move results backend and broker to clusterConfig
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: regenerate charts
  extra/crds.yaml
Due: none

fix: regenerate nix build
  Cargo.nix
  crate-hashes.json
Due: none

chore: move results backend and broker to cluster config in tests
  tests/templates/kuttl/cluster-operation/08-install-airflow.yaml.j2
  tests/templates/kuttl/external-access/install-airflow-cluster.yaml.j2
  tests/templates/kuttl/ldap/60-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/logging/41-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/mount-dags-configmap/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/mount-dags-gitsync/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/orphaned-resources/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/overrides/10-install-airflow.yaml.j2
  tests/templates/kuttl/remote-logging/40-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/resources/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/smoke/40-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/triggerer/30-install-airflow-cluster.yaml.j2
Due: none

docs: adapt docs and examples
  docs/modules/airflow/examples/example-airflow-incluster.yaml
  docs/modules/airflow/examples/getting_started/code/airflow.yaml
  docs/modules/airflow/pages/usage-guide/database-connections.adoc
Due: none

test: adapt unit tests
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: pre-commit
  tests/templates/kuttl/logging/test_log_aggregation.py
Due: none

chore: adapted changelog
  CHANGELOG.md
Due: none

chore: add warning if broker and results backend configured without a celery executor.
  rust/operator-binary/src/airflow_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Consolidate ResultsBackend and Broker to clusterConfig (#786)
  CHANGELOG.md
  Cargo.nix
  crate-hashes.json
  docs/modules/airflow/examples/example-airflow-incluster.yaml
  docs/modules/airflow/examples/getting_started/code/airflow.yaml
  docs/modules/airflow/pages/usage-guide/database-connections.adoc
  extra/crds.yaml
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/mod.rs
  tests/templates/kuttl/cluster-operation/08-install-airflow.yaml.j2
  tests/templates/kuttl/external-access/install-airflow-cluster.yaml.j2
  tests/templates/kuttl/ldap/60-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/logging/41-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/logging/test_log_aggregation.py
  tests/templates/kuttl/mount-dags-configmap/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/mount-dags-gitsync/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/orphaned-resources/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/overrides/10-install-airflow.yaml.j2
  tests/templates/kuttl/remote-logging/40-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/resources/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/smoke/40-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/triggerer/30-install-airflow-cluster.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Rust dependency patch level updates
  Cargo.lock
  Cargo.nix
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

fix: Add cleanup steps to prevent kuttl namespace deletion timeouts
  tests/templates/kuttl/ca-cert/90-cleanup-executor-pods.yaml
  tests/templates/kuttl/external-access/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/ldap/99-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/logging/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/mount-dags-configmap/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/mount-dags-gitsync/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/oidc/90-cleanup-executor-pods.yaml
  tests/templates/kuttl/opa/90-cleanup-executor-pods.yaml
  tests/templates/kuttl/overrides/90-cleanup-executor-pods.yaml
  tests/templates/kuttl/remote-logging/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/smoke/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/triggerer/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/versioning/90-cleanup-executor-pods.yaml
Due: none

fix: Add cleanup steps to prevent kuttl namespace deletion timeouts (#789)
  tests/templates/kuttl/ca-cert/90-cleanup-executor-pods.yaml
  tests/templates/kuttl/external-access/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/ldap/99-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/logging/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/mount-dags-configmap/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/mount-dags-gitsync/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/oidc/90-cleanup-executor-pods.yaml
  tests/templates/kuttl/opa/90-cleanup-executor-pods.yaml
  tests/templates/kuttl/overrides/90-cleanup-executor-pods.yaml
  tests/templates/kuttl/remote-logging/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/smoke/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/triggerer/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/versioning/90-cleanup-executor-pods.yaml
Due: none

feat: add framework macros and validated type definitions
  Cargo.lock
  Cargo.toml
  rust/operator-binary/Cargo.toml
  rust/operator-binary/src/framework.rs
  rust/operator-binary/src/framework/macros.rs
  rust/operator-binary/src/framework/macros/attributed_string_type.rs
  rust/operator-binary/src/framework/macros/constant.rs
  rust/operator-binary/src/framework/types.rs
  rust/operator-binary/src/framework/types/common.rs
  rust/operator-binary/src/framework/types/kubernetes.rs
  rust/operator-binary/src/framework/types/operator.rs
  rust/operator-binary/src/main.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

feat: add framework builder, kvp, and utility modules
  rust/operator-binary/src/framework.rs
  rust/operator-binary/src/framework/builder.rs
  rust/operator-binary/src/framework/builder/meta.rs
  rust/operator-binary/src/framework/builder/pdb.rs
  rust/operator-binary/src/framework/builder/pod.rs
  rust/operator-binary/src/framework/builder/pod/container.rs
  rust/operator-binary/src/framework/builder/pod/volume.rs
  rust/operator-binary/src/framework/builder/statefulset.rs
  rust/operator-binary/src/framework/cluster_resources.rs
  rust/operator-binary/src/framework/controller_utils.rs
  rust/operator-binary/src/framework/kvp.rs
  rust/operator-binary/src/framework/kvp/label.rs
  rust/operator-binary/src/framework/product_logging.rs
  rust/operator-binary/src/framework/product_logging/framework.rs
  rust/operator-binary/src/framework/role_group_utils.rs
  rust/operator-binary/src/framework/role_utils.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

feat: rewrite controller pipeline with validated config types
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller.rs
  rust/operator-binary/src/controller/apply.rs
  rust/operator-binary/src/controller/build.rs
  rust/operator-binary/src/controller/build/role_group_builder.rs
  rust/operator-binary/src/controller/dereference.rs
  rust/operator-binary/src/controller/update_status.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/controller_commons.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/env_vars.rs
  rust/operator-binary/src/framework.rs
  rust/operator-binary/src/framework/builder.rs
  rust/operator-binary/src/framework/builder/pdb.rs
  rust/operator-binary/src/framework/kvp/label.rs
  rust/operator-binary/src/framework/role_utils.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/operations/graceful_shutdown.rs
  rust/operator-binary/src/operations/mod.rs
  rust/operator-binary/src/operations/pdb.rs
  rust/operator-binary/src/product_logging.rs
  rust/operator-binary/src/service.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@6f8308216211cd88a8295b58cf3a781cbca672fa
  Tiltfile
  deploy/helm/airflow-operator/templates/_helpers.tpl
  deploy/helm/airflow-operator/templates/deployment.yaml
  docker/Dockerfile
  rustfmt.toml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@6f8308216211cd88a8295b58cf3a781cbca672fa (#792)
  Tiltfile
  deploy/helm/airflow-operator/templates/_helpers.tpl
  deploy/helm/airflow-operator/templates/deployment.yaml
  docker/Dockerfile
  rustfmt.toml
Due: none

chore: Rust dependency patch level updates (#793)
  Cargo.lock
  Cargo.nix
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

fixes due to assumed max name lengths
  Cargo.nix
  crate-hashes.json
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/framework/types/operator.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

test fixes: name lengths
  tests/templates/kuttl/logging/41-assert.yaml.j2
  tests/templates/kuttl/logging/41-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/logging/52-assert.yaml.j2
  tests/templates/kuttl/logging/70-assert.yaml.j2
  tests/templates/kuttl/logging/airflow-vector-aggregator-values.yaml.j2
  tests/templates/kuttl/resources/30-assert.yaml.j2
  tests/templates/kuttl/resources/30-install-airflow-cluster.yaml.j2
Due: none

chore: add regex and uuid dependencies
  Cargo.lock
  Cargo.nix
  Cargo.toml
  rust/operator-binary/Cargo.toml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

feat: add framework macros for validated string types
  rust/operator-binary/src/framework.rs
  rust/operator-binary/src/framework/macros.rs
  rust/operator-binary/src/framework/macros/attributed_string_type.rs
  rust/operator-binary/src/framework/macros/constant.rs
  rust/operator-binary/src/main.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

feat: add framework validated types for names and resources
  rust/operator-binary/src/framework.rs
  rust/operator-binary/src/framework/types.rs
  rust/operator-binary/src/framework/types/common.rs
  rust/operator-binary/src/framework/types/kubernetes.rs
  rust/operator-binary/src/framework/types/operator.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

feat: add framework KVP module for type-safe labels
  rust/operator-binary/src/framework.rs
  rust/operator-binary/src/framework/kvp.rs
  rust/operator-binary/src/framework/kvp/label.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

feat: add framework builders for K8s resources
  rust/operator-binary/src/framework.rs
  rust/operator-binary/src/framework/builder.rs
  rust/operator-binary/src/framework/builder/meta.rs
  rust/operator-binary/src/framework/builder/pdb.rs
  rust/operator-binary/src/framework/builder/pod.rs
  rust/operator-binary/src/framework/builder/pod/container.rs
  rust/operator-binary/src/framework/builder/pod/volume.rs
  rust/operator-binary/src/framework/builder/statefulset.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

feat: add framework utilities for roles, resources, and logging
  rust/operator-binary/src/framework.rs
  rust/operator-binary/src/framework/cluster_resources.rs
  rust/operator-binary/src/framework/controller_utils.rs
  rust/operator-binary/src/framework/product_logging.rs
  rust/operator-binary/src/framework/product_logging/framework.rs
  rust/operator-binary/src/framework/role_group_utils.rs
  rust/operator-binary/src/framework/role_utils.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: derive Ord/PartialOrd on AirflowRole
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: make stateful_set_service_name generic
  rust/operator-binary/src/service.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: simplify build_airflow_template_envs signature
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/env_vars.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: replace monolithic controller with pipeline architecture
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller_commons.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/product_logging.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: remove dead code from operations/, service.rs, and crd
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/operations/graceful_shutdown.rs
  rust/operator-binary/src/operations/mod.rs
  rust/operator-binary/src/operations/pdb.rs
  rust/operator-binary/src/service.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: extract controller into submodules
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller.rs
  rust/operator-binary/src/controller/apply.rs
  rust/operator-binary/src/controller/build.rs
  rust/operator-binary/src/controller/build/role_group_builder.rs
  rust/operator-binary/src/controller/dereference.rs
  rust/operator-binary/src/controller/update_status.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/main.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: shorten test role group names to fit 16-char limit
  tests/templates/kuttl/logging/41-assert.yaml.j2
  tests/templates/kuttl/logging/41-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/logging/52-assert.yaml.j2
  tests/templates/kuttl/logging/70-assert.yaml.j2
  tests/templates/kuttl/logging/airflow-vector-aggregator-values.yaml.j2
  tests/templates/kuttl/resources/30-assert.yaml.j2
  tests/templates/kuttl/resources/30-install-airflow-cluster.yaml.j2
Due: none

chore: remove REVIEW comments
  rust/operator-binary/src/controller.rs
  rust/operator-binary/src/controller/build.rs
  rust/operator-binary/src/controller/build/role_group_builder.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/controller_commons.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/env_vars.rs
  rust/operator-binary/src/framework/types/operator.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/product_logging.rs
  rust/operator-binary/src/service.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy
