Repository stackabletech/airflow-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

.pre-commit-config.yaml:

---
exclude: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0 # 6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/EmbarkStudios/cargo-deny
    # Failing to compile cargo-deny with version >0.18.3, needs rust 1.88.0
    rev: 0.18.6 # 0.18.3
    hooks:
      - id: cargo-deny
        args: ["--all-features", "check", "advisories", "bans", "licenses", "sources"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1 # 1.37.1
    hooks:
      - id: yamllint
        args: ["--strict"]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0 # 0.45.0
    hooks:
      - id: markdownlint
        types: [text]
        files: \.md(\.j2)*$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0 # 0.11.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]

  # WARNING (@NickLarsenNZ): Nix users need to install ruff first.
  # If you do not, you will need to delete the cached ruff binary shown in the
  # error message
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7 # 0.14.1
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9 # 1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0 # 2.14.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: regenerate-charts
        name: regenerate-charts
        language: system
        entry: make regenerate-charts
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: regenerate-nix
        name: regenerate-nix
        language: system
        entry: make regenerate-nix
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: Cargo\.lock

      - id: check-readme
        name: check-readme
        language: system
        entry: make render-readme
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: .readme

      - id: cargo-doc
        name: cargo-doc
        language: system
        entry: cargo doc --document-private-items
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-test
        name: cargo-test
        language: system
        entry: cargo test
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        entry: cargo +nightly-2025-10-23 fmt --all -- --check
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        entry: cargo clippy --all-targets -- -D warnings
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

merge main
  CHANGELOG.md
  rust/operator-binary/src/controller/build/properties/product_logging/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

updated PR number
  CHANGELOG.md
Due: none

Expand OIDC integration test with reverse proxy settings
  tests/templates/kuttl/oidc/45-assert.yaml
  tests/templates/kuttl/oidc/45-install-reverse-proxy.yaml
  tests/templates/kuttl/oidc/install-airflow.yaml.j2
  tests/templates/kuttl/oidc/login.py
Due: none

chore: runAsNonRoot and fix empty CRD fields
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

changelog
  CHANGELOG.md
Due: none

More comment cleanup
  rust/operator-binary/src/controller/build/properties/env_vars.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Fix oidc test on OpenShift and use '*' for trusted proxies
  tests/templates/kuttl/external-access/45-assert.yaml.j2
  tests/templates/kuttl/external-access/install-airflow-cluster.yaml.j2
  tests/templates/kuttl/oidc/45-install-reverse-proxy.yaml.j2
  tests/templates/kuttl/oidc/install-airflow.yaml.j2
Due: none

Reduce code comment verbosity
  rust/operator-binary/src/crd/trusted_proxies.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: runAsNonRoot and fix empty CRD fields (#840)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Implement review feedback: better error messages
  rust/operator-binary/src/crd/trusted_proxies.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

feat: add support for reverse proxy header handling (#835)
  CHANGELOG.md
  docs/modules/airflow/pages/usage-guide/reverse-proxy.adoc
  docs/modules/airflow/partials/nav.adoc
  extra/crds.yaml
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/properties/env_vars.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/trusted_proxies.rs
  tests/templates/kuttl/external-access/45-assert.yaml.j2
  tests/templates/kuttl/external-access/install-airflow-cluster.yaml.j2
  tests/templates/kuttl/oidc/45-assert.yaml
  tests/templates/kuttl/oidc/45-install-reverse-proxy.yaml.j2
  tests/templates/kuttl/oidc/install-airflow.yaml.j2
  tests/templates/kuttl/oidc/login.py
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: demonstrate missing logs in kuttl test
  tests/templates/kuttl/smoke/85-task-logs.yaml.j2
  tests/templates/kuttl/smoke/task-logs.py
Due: none

serve logs from base log folder for the UI
  CHANGELOG.md
  rust/operator-binary/src/controller/build/properties/product_logging/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: address review comments
  rust/operator-binary/src/controller/build/properties/product_logging/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: cleanups
  .gitignore
  rust/operator-binary/src/controller/build/properties/product_logging/mod.rs
  tests/templates/kuttl/smoke/task-logs.py
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: one does not simply rebase
  CHANGELOG.md
Due: none

fix: set base_log_folder to display task logs in the UI (#834)
  .gitignore
  CHANGELOG.md
  rust/operator-binary/src/controller/build/properties/product_logging/mod.rs
  tests/templates/kuttl/smoke/85-task-logs.yaml.j2
  tests/templates/kuttl/smoke/task-logs.py
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix(test): Don't tear down AirflowClusters when --skip-delete is used
  tests/templates/kuttl/ca-cert/90-cleanup-executor-pods.yaml
  tests/templates/kuttl/external-access/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/ldap/99-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/logging/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/mount-dags-configmap/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/mount-dags-gitsync/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/oidc/90-cleanup-executor-pods.yaml
  tests/templates/kuttl/opa/90-cleanup-executor-pods.yaml
  tests/templates/kuttl/overrides/90-cleanup-executor-pods.yaml
  tests/templates/kuttl/remote-logging/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/smoke/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/triggerer/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/versioning/90-cleanup-executor-pods.yaml
Due: none

refactor: Move into common shared script
  tests/templates/kuttl/ca-cert/90-cleanup-executor-pods.yaml
  tests/templates/kuttl/commons/cleanup-executor-pods.sh
  tests/templates/kuttl/external-access/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/ldap/99-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/logging/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/mount-dags-configmap/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/mount-dags-gitsync/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/oidc/90-cleanup-executor-pods.yaml
  tests/templates/kuttl/opa/90-cleanup-executor-pods.yaml
  tests/templates/kuttl/overrides/90-cleanup-executor-pods.yaml
  tests/templates/kuttl/remote-logging/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/smoke/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/triggerer/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/versioning/90-cleanup-executor-pods.yaml
Due: none

fix(test): Don't tear down AirflowClusters when `--skip-delete` is used (#841)
  tests/templates/kuttl/ca-cert/90-cleanup-executor-pods.yaml
  tests/templates/kuttl/commons/cleanup-executor-pods.sh
  tests/templates/kuttl/external-access/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/ldap/99-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/logging/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/mount-dags-configmap/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/mount-dags-gitsync/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/oidc/90-cleanup-executor-pods.yaml
  tests/templates/kuttl/opa/90-cleanup-executor-pods.yaml
  tests/templates/kuttl/overrides/90-cleanup-executor-pods.yaml
  tests/templates/kuttl/remote-logging/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/smoke/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/triggerer/90-cleanup-executor-pods.yaml.j2
  tests/templates/kuttl/versioning/90-cleanup-executor-pods.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@9d5273b3309c4dd25c1dbacd61bd5ecca0146b46
  .github/workflows/build.yaml
  .github/workflows/general_daily_security.yml
  .github/workflows/integration-test-custom.yaml
  .github/workflows/integration-test-profile.yaml
  .github/workflows/pr_prek.yaml
  .gitignore
  Makefile
  deploy/helm/airflow-operator/Chart.yaml
  renovate.json
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@6c07dc90dfe7a6cd6f6d520b7804084b79af9a7b
  .github/workflows/build.yaml
  .github/workflows/general_daily_security.yml
  .github/workflows/integration-test-custom.yaml
  .github/workflows/integration-test-profile.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_prek.yaml
  .gitignore
  Makefile
  deploy/helm/airflow-operator/Chart.yaml
  renovate.json
Due: none

fix: Avoid Python import race condition for Kubernetes executor stacklets
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/pod.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix kuttl test assertion
  tests/templates/kuttl/ca-cert/25-assert.yaml
Due: none

fix typo
  rust/operator-binary/src/controller/build/resource/pod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Add triggerer to mount-dags-gitsync test
  tests/templates/kuttl/mount-dags-gitsync/30-install-airflow-cluster.yaml.j2
Due: none

updated docs
  docs/modules/airflow/pages/troubleshooting/index.adoc
  docs/modules/airflow/pages/usage-guide/mounting-dags.adoc
Due: none

test: Add assertion for init container
  tests/templates/kuttl/mount-dags-gitsync/30-assert.yaml.j2
Due: none

refactor: Use enum instead of bool
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/pod.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: Avoid Python import race condition for Kubernetes executor stacklets (#844)
  CHANGELOG.md
  docs/modules/airflow/pages/troubleshooting/index.adoc
  docs/modules/airflow/pages/usage-guide/mounting-dags.adoc
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/pod.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  tests/templates/kuttl/ca-cert/25-assert.yaml
  tests/templates/kuttl/mount-dags-gitsync/30-assert.yaml.j2
  tests/templates/kuttl/mount-dags-gitsync/30-install-airflow-cluster.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

test: Enable schedule profile, bump to Kubernetes 1.36
  tests/interu.yaml
Due: none

chore: Rollout various templated changes (#843)
  .github/workflows/build.yaml
  .github/workflows/general_daily_security.yml
  .github/workflows/integration-test-custom.yaml
  .github/workflows/integration-test-profile.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_prek.yaml
  .gitignore
  Makefile
  deploy/helm/airflow-operator/Chart.yaml
  renovate.json
  tests/interu.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@ba820935cc61c54eb564bf85c857f6939585d349
  .github/workflows/build.yaml
  .github/workflows/integration-test-custom.yaml
  .github/workflows/integration-test-profile.yaml
  .github/workflows/pr_prek.yaml
Due: none

chore: Use EnvVarSets
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/Cargo.toml
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/apply.rs
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/properties/env_vars.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/controller/validate.rs
  rust/operator-binary/src/crd/internal_secret.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/util.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Test the constants
  rust/operator-binary/src/controller/build/properties/env_vars.rs
  rust/operator-binary/src/crd/internal_secret.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Remove obsolete comment
  rust/operator-binary/src/controller/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Update changelog
  CHANGELOG.md
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@ba820935cc61c54eb564bf85c857f6939585d349 (#845)
  .github/workflows/build.yaml
  .github/workflows/integration-test-custom.yaml
  .github/workflows/integration-test-profile.yaml
  .github/workflows/pr_prek.yaml
Due: none
