Repository stackabletech/airflow-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

.pre-commit-config.yaml:

---
exclude: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0 # 6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/EmbarkStudios/cargo-deny
    # Failing to compile cargo-deny with version >0.18.3, needs rust 1.88.0
    rev: 0.18.6 # 0.18.3
    hooks:
      - id: cargo-deny
        args: ["--all-features", "check", "advisories", "bans", "licenses", "sources"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1 # 1.37.1
    hooks:
      - id: yamllint
        args: ["--strict"]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0 # 0.45.0
    hooks:
      - id: markdownlint
        types: [text]
        files: \.md(\.j2)*$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0 # 0.11.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]

  # WARNING (@NickLarsenNZ): Nix users need to install ruff first.
  # If you do not, you will need to delete the cached ruff binary shown in the
  # error message
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7 # 0.14.1
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9 # 1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0 # 2.14.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: regenerate-charts
        name: regenerate-charts
        language: system
        entry: make regenerate-charts
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: regenerate-nix
        name: regenerate-nix
        language: system
        entry: make regenerate-nix
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: Cargo\.lock

      - id: check-readme
        name: check-readme
        language: system
        entry: make render-readme
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: .readme

      - id: cargo-doc
        name: cargo-doc
        language: system
        entry: cargo doc --document-private-items
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-test
        name: cargo-test
        language: system
        entry: cargo test
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        entry: cargo +nightly-2025-10-23 fmt --all -- --check
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        entry: cargo clippy --all-targets -- -D warnings
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

remove suffixes and renaming
  rust/operator-binary/src/connections/database.rs
  rust/operator-binary/src/connections/queue.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

rework env-var maps
  rust/operator-binary/src/connection.rs
  rust/operator-binary/src/env_vars.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

removed unused result
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/env_vars.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

remove unused error
  rust/operator-binary/src/env_vars.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Apply suggestions from code review
  docs/modules/airflow/pages/getting_started/first_steps.adoc
  docs/modules/airflow/pages/usage-guide/db-connect.adoc
Due: none

Update tests/templates/kuttl/triggerer/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/triggerer/30-install-airflow-cluster.yaml.j2
Due: none

review feedback: docs
  docs/modules/airflow/pages/getting_started/first_steps.adoc
  docs/modules/airflow/pages/usage-guide/db-connect.adoc
Due: none

make redis DB nr. configurable
  extra/crds.yaml
  rust/operator-binary/src/connections/queue.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

change databaseName to database
  docs/modules/airflow/examples/example-airflow-dags-configmap.yaml
  docs/modules/airflow/examples/example-airflow-incluster.yaml
  docs/modules/airflow/examples/getting_started/code/airflow.yaml
  docs/modules/airflow/pages/usage-guide/db-connect.adoc
  extra/crds.yaml
  rust/operator-binary/src/connections/database.rs
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/mod.rs
  tests/templates/kuttl/cluster-operation/08-install-airflow.yaml.j2
  tests/templates/kuttl/cluster-operation/10-pause-airflow.yaml.j2
  tests/templates/kuttl/cluster-operation/20-stop-airflow.yaml.j2
  tests/templates/kuttl/cluster-operation/30-restart-airflow.yaml.j2
  tests/templates/kuttl/external-access/install-airflow-cluster.yaml.j2
  tests/templates/kuttl/ldap/60-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/logging/41-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/mount-dags-configmap/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/mount-dags-gitsync/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/oidc/install-airflow.yaml.j2
  tests/templates/kuttl/opa/30-install-airflow.yaml.j2
  tests/templates/kuttl/orphaned-resources/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/overrides/10-install-airflow.yaml.j2
  tests/templates/kuttl/overrides/20-install-airflow2.yaml.j2
  tests/templates/kuttl/remote-logging/40-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/resources/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/smoke/40-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/triggerer/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/versioning/30-install-airflow-cluster.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

store wip
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Add azure adls to troubleshooting guide
  docs/modules/airflow/pages/troubleshooting/index.adoc
Due: none

Removing trailing whitespace
  docs/modules/airflow/pages/troubleshooting/index.adoc
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@7dffd3cfddd8ddb67d0238004b9096feb029a072
  .gitignore
  Makefile
  Tiltfile
  deny.toml
  deploy/helm/airflow-operator/crds/crds.yaml
  deploy/helm/airflow-operator/templates/deployment.yaml
  deploy/helm/airflow-operator/templates/service.yaml
  nix/sources.json
Due: none

Fixing typos
  docs/modules/airflow/pages/troubleshooting/index.adoc
Due: none

Applying suggestions
  docs/modules/airflow/pages/troubleshooting/index.adoc
Due: none

fixing wording
  docs/modules/airflow/pages/troubleshooting/index.adoc
Due: none

Add azure adls to troubleshooting guide (#745)
  docs/modules/airflow/pages/troubleshooting/index.adoc
Due: none

changelog
  CHANGELOG.md
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@0fd2a1f7769df93202f555da3afa8723372b462e
  .gitignore
  Makefile
  Tiltfile
  deny.toml
  deploy/helm/airflow-operator/templates/deployment.yaml
  deploy/helm/airflow-operator/templates/service.yaml
  nix/sources.json
  shell.nix
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@0fd2a1f7769df93202f555da3afa8723372b462e (#748)
  .gitignore
  Makefile
  Tiltfile
  deny.toml
  deploy/helm/airflow-operator/templates/deployment.yaml
  deploy/helm/airflow-operator/templates/service.yaml
  nix/sources.json
  shell.nix
Due: none

bump to op-rs 0.106.1 and k8s-openapi 0.27
  Cargo.lock
  Cargo.toml
  extra/crds.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

chore: Bump to stackable-operator 0.106.1
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/Cargo.toml
  rust/operator-binary/src/crd/authentication.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

wip: test
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/airflow_controller.rs
  tests/templates/kuttl/ca-cert/00-patch-ns.yaml.j2
  tests/templates/kuttl/ca-cert/03-assert.yaml
  tests/templates/kuttl/ca-cert/03-install-postgresql.yaml
  tests/templates/kuttl/ca-cert/05-assert.yaml.j2
  tests/templates/kuttl/ca-cert/05-install-vector-aggregator-discovery-configmap.yaml.j2
  tests/templates/kuttl/ca-cert/10-clusterrole.yaml
  tests/templates/kuttl/ca-cert/15-secrets.yaml
  tests/templates/kuttl/ca-cert/30-assert.yaml.j2
  tests/templates/kuttl/ca-cert/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/ca-cert/40-assert.yaml
  tests/templates/kuttl/ca-cert/40-install-airflow-python.yaml
  tests/templates/kuttl/ca-cert/50-assert.yaml.j2
  tests/templates/kuttl/ca-cert/50-health-check.yaml
  tests/templates/kuttl/ca-cert/certs/ca.crt
  tests/templates/kuttl/ca-cert/certs/server.crt
  tests/templates/kuttl/ca-cert/certs/server.csr
  tests/templates/kuttl/ca-cert/helm-bitnami-postgresql-values.yaml.j2
  tests/test-definition.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Bump to stackable-operator 0.106.1 (#749)
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/Cargo.toml
  rust/operator-binary/src/crd/authentication.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

generate secrets in job
  Cargo.toml
  tests/templates/kuttl/ca-cert/12-create-ca-cert.yaml
  tests/templates/kuttl/ca-cert/12-rbac.yaml.j2
  tests/templates/kuttl/ca-cert/15-secrets.yaml
  tests/templates/kuttl/ca-cert/30-install-airflow-cluster.yaml.j2
  tests/templates/kuttl/ca-cert/certs/ca.crt
  tests/templates/kuttl/ca-cert/certs/server.crt
  tests/templates/kuttl/ca-cert/certs/server.csr
Due: regenerate-charts, cargo-doc, cargo-test

working test with proxy
  Cargo.lock
  Cargo.nix
  tests/templates/kuttl/ca-cert/10-clusterrole.yaml
  tests/templates/kuttl/ca-cert/15-create-ca-cert.yaml
  tests/templates/kuttl/ca-cert/15-rbac.yaml.j2
  tests/templates/kuttl/ca-cert/20-nginx-proxy.yaml
  tests/templates/kuttl/ca-cert/30-assert.yaml.j2
  tests/templates/kuttl/ca-cert/30-install-airflow-cluster.yaml
  tests/templates/kuttl/ca-cert/30_airflow-cluster.yaml.j2
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

added negative test case
  tests/templates/kuttl/ca-cert/15-assert.yaml
  tests/templates/kuttl/ca-cert/15-create-ca-cert.yaml
  tests/templates/kuttl/ca-cert/15-secrets.yaml
  tests/templates/kuttl/ca-cert/25-assert.yaml
  tests/templates/kuttl/ca-cert/25-install-airflow-wrong-cert.yaml
  tests/templates/kuttl/ca-cert/25_airflow-wrong-cert.yaml.j2
  tests/templates/kuttl/ca-cert/31-assert.yaml
Due: none

update op-rs reference
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  tests/templates/kuttl/ca-cert/15-create-ca-cert.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

avoid cert name collision
  tests/templates/kuttl/ca-cert/15-create-ca-cert.yaml
  tests/templates/kuttl/ca-cert/25_airflow-wrong-cert.yaml.j2
  tests/templates/kuttl/ca-cert/30-install-airflow-cluster.yaml
Due: none

stabilise test
  tests/templates/kuttl/ca-cert/25-assert.yaml
  tests/templates/kuttl/ca-cert/25_airflow-wrong-cert.yaml.j2
  tests/templates/kuttl/ca-cert/30-install-airflow-cluster.yaml
Due: none

added a docs note
  docs/modules/airflow/examples/example-airflow-gitsync-https.yaml
  docs/modules/airflow/pages/usage-guide/mounting-dags.adoc
Due: none

working example, clean up
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/env_vars.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

update to v1alpha2
  rust/operator-binary/src/env_vars.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Add CHANGELOG.md
  CHANGELOG.md
Due: none

Adding docs draft
  docs/modules/airflow/pages/usage-guide/mounting-dags.adoc
Due: none

Better documentation
  docs/modules/airflow/pages/usage-guide/mounting-dags.adoc
Due: none

Refactor strings into constants
  docs/modules/airflow/pages/usage-guide/mounting-dags.adoc
  rust/operator-binary/src/airflow_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Further removing strings and consolidate in constant
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Improve comments and refactor
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/env_vars.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy
