Repository stackabletech/airflow-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

regenerate-charts:
  name: regenerate-charts
  language: system
  entry: make regenerate-charts
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

regenerate-nix:
  name: regenerate-nix
  language: system
  entry: make regenerate-nix
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

check-readme:
  name: check-readme
  language: system
  entry: make render-readme
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  language: system
  entry: cargo doc --document-private-items
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-test:
  name: cargo-test
  language: system
  entry: cargo test
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-rustfmt:
  name: cargo-rustfmt
  language: system
  entry: cargo +nightly-2025-10-23 fmt --all -- --check
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

Update docs/modules/airflow/pages/troubleshooting/index.adoc
  docs/modules/airflow/pages/troubleshooting/index.adoc
Due: none

docs: add LDAP issue when upgrading to Airflow 3 (#815)
  docs/modules/airflow/pages/troubleshooting/index.adoc
  docs/modules/airflow/pages/usage-guide/overrides.adoc
Due: none

Update rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

revert test change and refine comment
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@23454aeb350768655bb917a460e9d534d5d3acb9
  scripts/docs_templating.sh
Due: none

fix: Use correct path in docs templating script
  scripts/docs_templating.sh
Due: none

fix: Use operator name in docs templating script (#817)
  scripts/docs_templating.sh
Due: none

fix: Use operator name in docs templating script (#817) (#818)
  scripts/docs_templating.sh
Due: none

chore: Release 26.7.0-rc1
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/airflow-operator/Chart.yaml
  docs/antora.yml
  docs/modules/airflow/examples/getting_started/code/getting_started.sh
  docs/modules/airflow/examples/getting_started/code/install_output.txt
  docs/templating_vars.yaml
  extra/crds.yaml
  tests/release.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

fix: Bump spin to 0.9.9
  Cargo.lock
  Cargo.nix
  crate-hashes.json
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

fix: Bump spin to 0.9.9 (#820)
  Cargo.lock
  Cargo.nix
  crate-hashes.json
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

chore: Release 26.7.0-rc1 (#819)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/airflow-operator/Chart.yaml
  docs/antora.yml
  docs/modules/airflow/examples/getting_started/code/getting_started.sh
  docs/modules/airflow/examples/getting_started/code/install_output.txt
  docs/templating_vars.yaml
  extra/crds.yaml
  tests/release.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

docs: Use the shared link bar and link to the Stackable Hub
  docs/modules/airflow/pages/index.adoc
Due: none

chore: Release 26.7.0
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/airflow-operator/Chart.yaml
  docs/modules/airflow/examples/getting_started/code/getting_started.sh
  docs/modules/airflow/examples/getting_started/code/install_output.txt
  docs/templating_vars.yaml
  tests/release.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

docs: Use the shared link bar and link to the Stackable Hub (#823)
  docs/modules/airflow/pages/index.adoc
Due: none

chore: Release 26.7.0 (#824)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/airflow-operator/Chart.yaml
  docs/modules/airflow/examples/getting_started/code/getting_started.sh
  docs/modules/airflow/examples/getting_started/code/install_output.txt
  docs/templating_vars.yaml
  tests/release.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

refactor(openlineage): use credentialsSecretName instead of AuthenticationClass
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  docs/modules/airflow/pages/usage-guide/openlineage.adoc
  extra/crds.yaml
  rust/operator-binary/src/controller/build/openlineage.rs
  tests/templates/kuttl/openlineage/10-install-secretclass-auth-connection.yaml.j2
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Update CHANGELOG.md from release 26.7.0
  CHANGELOG.md
Due: none

Update CHANGELOG.md from release 26.7.0 (#825)
  CHANGELOG.md
Due: none

changelog
  CHANGELOG.md
Due: none

refactor: Introduce build aggregator (#814)
  CHANGELOG.md
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

update changelog
  CHANGELOG.md
Due: none

reference PR branch
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

add rbac labels, use infallible functions
  Cargo.lock
  Cargo.toml
  rust/operator-binary/src/airflow_controller.rs
  rust/operator-binary/src/controller/build/mod.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/listener.rs
  rust/operator-binary/src/controller/build/resource/mod.rs
  rust/operator-binary/src/controller/build/resource/pdb.rs
  rust/operator-binary/src/controller/build/resource/rbac.rs
  rust/operator-binary/src/controller/build/resource/service.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/mod.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

cleanups
  extra/crds.yaml
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/webhooks/conversion.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

added test to verify parsing of all roles
  rust/operator-binary/src/controller/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

rename constant
  rust/operator-binary/src/controller/build/resource/listener.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@5c168f338d5b687d1b2b3585f983b65886cfd8be
  .github/ISSUE_TEMPLATE/new_version.md
  .github/ISSUE_TEMPLATE/normal-issue.md
  .github/PULL_REQUEST_TEMPLATE/pre-release-rust-deps.md
  .github/workflows/general_daily_security.yml
  Makefile
  default.nix
  deploy/config-spec/properties.yaml
  deploy/helm/airflow-operator/configs/properties.yaml
  deploy/helm/airflow-operator/templates/configmap.yaml
  deploy/helm/airflow-operator/templates/deployment.yaml
  docker/Dockerfile
  scripts/docs_templating.sh
Due: none

renamed resource names functions for clarity
  rust/operator-binary/src/controller/build/resource/config_map.rs
  rust/operator-binary/src/controller/build/resource/executor.rs
  rust/operator-binary/src/controller/build/resource/rbac.rs
  rust/operator-binary/src/controller/build/resource/service.rs
  rust/operator-binary/src/controller/build/resource/statefulset.rs
  rust/operator-binary/src/controller/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: docs_templating.sh
  scripts/docs_templating.sh
Due: none

chore: Regenerate Nix files
  Cargo.nix
  crate-hashes.json
Due: none

chore: Update templated files (5c168f3) (#826)
  .github/ISSUE_TEMPLATE/new_version.md
  .github/ISSUE_TEMPLATE/normal-issue.md
  .github/PULL_REQUEST_TEMPLATE/pre-release-rust-deps.md
  .github/workflows/general_daily_security.yml
  Cargo.nix
  Makefile
  crate-hashes.json
  default.nix
  deploy/config-spec/properties.yaml
  deploy/helm/airflow-operator/configs/properties.yaml
  deploy/helm/airflow-operator/templates/configmap.yaml
  deploy/helm/airflow-operator/templates/deployment.yaml
  docker/Dockerfile
Due: none

bump to op-rs 0.114
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

chore: Upgrade stackable-operator to 0.114.0
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/main.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Upgrade dependency spin
  Cargo.lock
  Cargo.nix
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

chore: Update changelog
  CHANGELOG.md
Due: none

chore: Upgrade stackable-operator to 0.114.0 (#827)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/main.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Path conditions:
  regenerate-charts: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  regenerate-nix: any of: Cargo\.lock, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  check-readme: any of: .readme, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-doc: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-test: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-rustfmt: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-clippy: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
